/* .container {
    display: flex;
    flex-direction: row;
}
.right {
        flex: 0 0 0;
        border: 1px solid #161414d2  !important;
        text-align: right;
        vertical-align: auto;
        padding-right: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
.left {
        flex: 1 1 0;
        border: 1px solid #161414d2  !important;
        padding-top: 0.5rem;
        text-align: left;
    }
 */