::ng-deep.tabella{
  width: 100%;
  .p-datatable-header {
    width: 100%;
  }

  .p-datatable-thead{
    width: 100%;
  }

  .p-datatable-thead .cf-column,
  .p-datatable-tbody .cf-column {
    max-width: 210px;
    p-celleditor{
      width: 100%;
    }
  } 
  .rs-column{
    // max-width: 52.6rem;
    p-celleditor{
      width: 100%;
    }
  }
  .r-column{
    max-width: 250px;
    p-celleditor{
      width: 100%;
    }
  }
  .action-column{
    // min-width: 7rem;
    // width: 7rem;
    max-width: 8.1rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    padding: 0 !important;
    .p-button-rounded {
      // background-color: transparent !important;
      border: none !important;
      color: #ffffff !important;
      &:hover {
        border-color: #993366 !important;
        background-color: #993366 !important;
        color: #ffffff !important;
        font-weight: normal !important;
      }
      &.p-button-danger {
        color: #ffffff !important;
      }
      &.p-button-success {
        color: #ffffff !important;
      }
      &.p-button-danger:hover, &.p-button-success:hover {
        border:1px solid #993366 !important;
        background-color:#993366 !important;
      }
      .p-button-icon {
        font-size: 1rem;
      } 
    }
  }
}

::ng-deep.tabella-singolo{
  .p-datatable-header {
    width: 100%;
  }
  .p-datatable-thead{
    width: 100%;
  }
  .cf-column {
    max-width: 210px;
    p-celleditor{
      width: 100%;
    }
  } 
  .rs-column{
    // max-width: 67.4rem;
    p-celleditor{
      width: 100%;
    }
  }
  
  .action-column{
    min-width: 7rem;
    width: 7rem;
    max-width: 7.3rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    padding: 0 !important;
    .p-button-rounded {
      border: none !important;
      color: #ffffff !important;
      &:hover {
        border-color: #993366 !important;
        background-color: #993366 !important;
        color: #ffffff !important;
        font-weight: normal !important;
      }
      &.p-button-danger {
        color: #ffffff !important;
      }
      &.p-button-success {
        color: #ffffff !important;
      }
      &.p-button-danger:hover, &.p-button-success:hover {
        border:1px solid #993366 !important;
        background-color:#993366 !important;
      }
      .p-button-icon {
        font-size: 1rem;
      } 
    }
  }
}

.gruppo-part-btn{
  display: flex;
  justify-content: space-between;
  // max-width: 20rem;
}

.part-label-btn {
  display: flex;
  align-items: center;
}

.gruppo-aggdBtn{
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 20rem;
}

.dropdown-ruolo{
  width: 100%;
}



