:host {
  height: 100%;
}
::ng-deep .p-table-scripta-docs-list {
  /* CAPTION */
  .caption-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left-content {
      .p-progress-spinner {
        height: 21px !important;
        width: 21px !important;
        vertical-align: sub;
      }
      .doc-trovati-info {
        margin-left: 20px;
      }
    }
    .right-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .p-field-checkbox {
        margin-bottom: 0 !important;
      }
      .p-button.p-button-outlined {
        color: white;
      }
    }
  }
  .p-datatable-scrollable-header {
    overflow: initial !important;
    /* HEADER */
    .header-row {
      height: 41px;
      .header-column {
        padding: 2px 13px;
        .header-box {
          display: flex;
          justify-content: space-between;
        }
      }
    }
    /* FILTER */
    .filter-row {
      .filter-column {
        padding: 1px;
        border: transparent;
        .p-inputnumber-buttons-stacked .p-inputnumber-input {
          border-radius: 3px;
        }
        .p-inputnumber-button-group {
          display: none;
        }
        .p-calendar {
          input {
            font-size: 13px;
          }
        }

      }
    }
    .search-wrapper {
      display: flex;
      background-color: white;
      border: 1px solid #a6a6a6;
      border-radius: 3px;
      p-columnfilter {
        width: 100%;
        .p-inputtext {
          border: none !important;
        }
      }
      
      .close-icon {
        align-self: center;
        font-size: 15px;
        border: 1px solid transparent;
        background-color: white;
        display: inline-block;
        vertical-align: middle;
        outline: 0;
        cursor: pointer;
      }
    }
  }
  
  /* BODY */
  .docslist-table-body {
    table-layout: unset;
    .p-datatable-tbody > tr > td {
      padding: 0;
      div {
        height: 54px;
        padding: 9px 13px;
      }
      &:not(.scrollable-column) {
        div {
          display: flex;
          align-items: center;
        }
      }
      &.scrollable-column {
        div {
          overflow: hidden;
          word-wrap: break-word;
          word-break: break-word;
          &:hover {
            overflow-y: scroll;
            overflow-y: overlay;
          }
        }
      } 
      &.data-creazione-column,
      &.data-registrazione-column {
        div {
          justify-content: center;
        }
      }
    }
  }

  .cdk-virtual-scroll-viewport {
    overflow: scroll !important; // Questo lo prende firefox
    overflow: overlay !important; // Questo lo prende chrome
  }

  /* HEADER, FILTER E BODY */
  .row-height {
    height: 53px;
    max-height: 53px;
  }
  .ente-column {
    min-width: 95px;
    max-width: 95px;
  }
  .tipologia-column {
    min-width: 171px;
    max-width: 171px;
  }
  .registrazione-column {
    min-width: 180px;
    max-width: 180px;
  }
  .proposta-column {
    min-width: 132px;
    max-width: 132px;
  }
  .data-creazione-column,
  .data-registrazione-column,
  .data-pubblicazione-column {
    min-width: 160px;
    max-width: 160px;
  }
  .stato-column {
    min-width: 134px;
    max-width: 134px;
  }
  .oggetto-column {
    width: 100%;
    min-width: 350px;
    cursor: pointer;
    font-weight: 600;
    color: #993366;
    .oggetto-content {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      i {
        font-size: 28px;
        margin-right: 7px;
      }
    }
  }
  .fascicolazioni-column {
    min-width: 230px;
    max-width: 230px;
    .fascicolazione-item {
      display: inline-block;
      padding: 3px 5px;
      margin-bottom: 2px;
      cursor: pointer;
      border: 1px solid #203244;
      /* background: #2e4a65;
      color: #ffffff; */
      font-size: 13px;
      border-radius: 3px;
      word-break: break-word;
      &:hover {
        border: 1px solid #936;
      }
    }
  }
  .stato-ufficio-atti-column {
    min-width: 184px;
    max-width: 184px;
  }
  .responsabile-column {
    min-width: 204px;
    max-width: 204px;
  }
  .redattore-column {
    min-width: 204px;
    max-width: 204px;
  }
  .adottato-da-column {
    min-width: 204px;
    max-width: 204px;
  }
  .mittente-column {
    min-width: 204px;
    max-width: 204px;
  }
  .destinatari-column {
    min-width: 230px;
    max-width: 230px;
    .destinatari-item {
      display: inline-block;
      padding: 3px 5px;
      margin-bottom: 2px;
      border: 1px solid #203244;
      font-size: 13px;
      border-radius: 3px;
      word-break: break-word;
      &:hover {
        border: 1px solid #936;
      }
    }
  }
  .firmatari-column {
    min-width: 230px;
    max-width: 230px;
    .firmatari-item {
      display: inline-block;
      padding: 3px 5px;
      margin-bottom: 2px;
      border: 1px solid #203244;
      font-size: 13px;
      border-radius: 3px;
      word-break: break-word;
      &:hover {
        border: 1px solid #936;
      }
    }
  }
  .sulla-scrivania-di-column {
    min-width: 230px;
    max-width: 230px;
    .sulla-scrivania-di-item {
      display: inline-block;
      padding: 3px 5px;
      margin-bottom: 2px;
      border: 1px solid #203244;
      font-size: 13px;
      border-radius: 3px;
      word-break: break-word;
      &:hover {
        border: 1px solid #936;
      }
    }
  }
  /* .scrollbar-overlay-placeholder-column {
    padding: 5px !important;
    border: none !important;
  } */
}

@supports (-webkit-appearance:none) and (not (overflow:-webkit-marquee))
and (not (-ms-ime-align:auto)) and (not (-moz-appearance:none)) {
  .scrollbar-overlay-placeholder-column { 
    padding: 5px !important;
    border: none !important;
  } 
}

/* EFFETTO CARICAMENTO RIGHE */
.loading-cell {
  padding: 0.571rem 0.857rem !important;
  .loading-text {
    display: block;
    background-color: #f1f1f1;
    min-height: 19px;
    animation: pulse 1s infinite ease-in-out;
    text-indent: -99999px;
    overflow: hidden;
  }
}


div.calendar-filter-footer-button-container.ng-star-inserted {
  display: flex;
  justify-content: space-around;
}

/* ::ng-deep .search-wrapper{
  display: flex;
  background-color: white;
  border: 1px solid #a6a6a6;
  border-radius: 3px;
  .p-inputtext {
    border: none !important;
  }
  .close-icon {
    align-self: center;
    font-size: 15px;
    border: 1px solid transparent;
    background-color: white;
    display: inline-block;
    vertical-align: middle;
    outline: 0;
    cursor: pointer;
  }
} */