::ng-deep .scripta-doc-allegati-table {
  .row {
    border: 1px solid #c8c8c8;
    td, th {
      border: none !important;
    }
    .colonna-principale {
      width: 3.125rem;
      min-width: 3.125rem;
    }
    .colonna-nome {
      min-width: 8.75rem;
    }
    .colonna-estensione {
      width: 7.5rem;
      min-width: 7.5rem;
      text-align: center;
    }
    .colonna-download {
      width: 3.75rem;
      min-width: 3.75rem;
      i {
        vertical-align: middle;
        font-weight: bolder;
      }
    }
    .colonna-elimina {
      width: 3.75rem;
      min-width: 3.75rem;
      i {
        vertical-align: middle;
      }
    }
  }
}