.dati-pubblicazione{
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    .periodo-pubblicazione {
        flex: 1 1 0;
        margin-bottom: 1.5rem;
    }
    .data-esecutivita, .numero-pubblicazione, .controllo-regionale {
        margin-bottom: 1.5rem;
    }
}