main{
    margin: 0rem 1.5rem;
    height: 100%;
}

.archivio-main-splitter{
    display: inline-block;
    height: 100%;
    width: 100%;
}

.left-side-element{
    display: inline-block;
    height: 100%;
    min-height: 700px;
}