<generic-caption-table *ngIf="referenceTableComponent && !archivio?.isArchivioNero"
  [configuration]="captionConfiguration" 
  [referenceTableComponent]="referenceTableComponent"
  [selectButtonsComponent]="this" 
  [functionalOperationsComponent]="this">
</generic-caption-table>
<p-splitter *ngIf="archivio && !archivio.isArchivioNero" styleClass="splitter-archivio" [panelSizes]="[25,75]"
  [minSizes]="[15,55]">
  <ng-template pTemplate>
    <archivio-tree [archivio]="archivio">
    </archivio-tree>
  </ng-template>
  <ng-template pTemplate>
    <!-- Contenuto (lista archivi + lista documenti)-->
    <p-splitter *ngIf="!contenutoDiviso" layout="vertical" [gutterSize]="6" [ngClass]="{
        'hide': selectedButtonItem && selectedButtonItem.id !== 'CONTENUTO', 
        'hide-sottoarchivi': archivio.livello === 3 
      }">
      <ng-template pTemplate>
        <!-- Lista sottoarchivi -->
        <div style="width: 100%;">
          <!--  *ngIf="archivio.livello !== 3" -->
          <h4 class="mini-caption-table">{{archivio.livello === 1 ? 'Sottofascicoli' : 'Inserti'}} contenuti</h4>
          <!-- La condizione dell'ngIf potrebbe sembrare superflua ma è invece necessaria per far si che la ptable mostri il contenuto
          altrimenti quello che fa è caricare le righe ma non mostrarle -->
          <archivi-list #archivilist
            *ngIf="archivio.livello !== 3 && selectedButtonItem && selectedButtonItem.id === 'CONTENUTO'"
            [archivioPadre]="archivio">
          </archivi-list>
        </div>
      </ng-template>
      <ng-template pTemplate>
        <!-- Lista documenti contenuti -->
        <div style="width: 100%;">
          <h4 class="mini-caption-table caption-lista-docs">Documenti contenuti</h4>
          <docs-list #doclist [archivio]="archivio" [reloadData]="this.reloadDataDocList">
          </docs-list>
        </div>
      </ng-template>
    </p-splitter>

    <!-- Lista sottoarchivi -->
    <archivi-list #archivilist *ngIf="contenutoDiviso" 
      [archivioPadre]="archivio"
      [ngClass]="{'hide': selectedButtonItem && selectedButtonItem.id !== 'SOTTOARCHIVI'}">
    </archivi-list>

    <!-- Lista documenti contenuti -->
    <!-- <docs-list #doclist *ngIf="contenutoDiviso && loggedUserCanVisualizeArchive" 
      [archivio]="archivio"
      [ngClass]="{'hide': selectedButtonItem && selectedButtonItem.id !== 'DOCUMENTI'}">
    </docs-list> -->
    <p-splitter *ngIf="contenutoDiviso && loggedUserCanVisualizeArchive" 
      styleClass="splitter-docs-list"
      [panelSizes]="[50,50]"
      [minSizes]="[30,30]"
      [ngClass]="{ 'hiderightside': !showRightSide, 'hide': selectedButtonItem && selectedButtonItem.id !== 'DOCUMENTI' }">
      <ng-template pTemplate>
        <docs-list #doclist
          [archivio]="archivio"
          (showRightPanel)="manageRowSelected($event)" >
        </docs-list>
      </ng-template>
      <ng-template pTemplate>
        <doc-detail-and-preview *ngIf="showRightSide"
          [doc]="docForDetailAndPreview" 
          (closeRightPanel)="manageRowSelected({showPanel: false, rowSelected: null})" >
        </doc-detail-and-preview>
      </ng-template>
    </p-splitter>

    <!-- Dati dell'archivio -->
    <dettaglio-archivio #dettaglioarchivio 
      [archivio]="archivio"
      [ngClass]="{'hide': selectedButtonItem && selectedButtonItem.id !== 'DETTAGLIO'}"
      (updateArchivio)="onUpdateArchivio($event)">
    </dettaglio-archivio>
  </ng-template>
</p-splitter>
<p-toast key="ArchivioToast"></p-toast>

<p-dialog
  appendTo="body"
  header="{{this.operazioneOrganizza}}"
  [(visible)]="this.showOrganizzaPopUp"
  [modal]="true"
  [responsive]="false"
  [focusOnShow]="false"
  (onHide)="onCloseOrganizzaDialog()"
  contentStyleClass="organizzaPopup">
  <div class="organizza-target-container" *ngIf="this.operazioneOrganizza == 'Rendi fascicolo'">
    <h2 *ngIf="this.operazioneOrganizza == 'Rendi fascicolo'">Sei sicuro di voler rendere fascicolo questo archivio?</h2>
    <div class="organizza-confirm-button-container">
      <p-button [disabled]="!canOrganizzare()" type="button" (click)="this.organizza()" icon="pi pi-check" label="Si"></p-button>
      <p-button [disabled]="!canOrganizzare()" type="button" (click)="this.resetOrganizzaPopup(); this.rightContentProgressSpinner = false;" icon="pi pi-times" label="No"></p-button>
    </div>
  </div>
  <div class="organizza-target-container" *ngIf="this.operazioneOrganizza == 'Copia'">
    <h1 *ngIf="this.operazioneOrganizza == 'Copia'">Selezionare una o più voci</h1>
    <div class="organizza-target-button-container">
      <p-checkbox 
        name="organizzaTarget" 
        value="fascicolo" 
        label="Fascicolo" 
        [(ngModel)]="organizzaTarget"
        [disabled]="this.profonditaArchivio === 3">
      </p-checkbox>
      <p class="organizza-target-button-descrizione">Copia la gerarchia del fascicolo/subfascicolo in uno di destinazione.</p>
    </div>
    <div class="organizza-target-button-container">
      <p-checkbox 
        name="organizzaTarget" 
        value="contenuto" 
        label="Contenuto" 
        [(ngModel)]="organizzaTarget">
      </p-checkbox>
      <p class="organizza-target-button-descrizione">Copia il contenuto del fascicolo/subfascicolo in uno di destinazione.</p>
    </div>
  </div>
  <div class="organizza-target-container" *ngIf="this.operazioneOrganizza != 'Rendi fascicolo' && this.operazioneOrganizza != 'Copia'">
    <h1 *ngIf="this.operazioneOrganizza != 'Rendi fascicolo' && this.operazioneOrganizza != 'Copia'">Selezionare una voce</h1>
    <div class="organizza-target-button-container">
      <p-radioButton 
        name="organizzaTarget" 
        value="fascicolo" 
        label="Fascicolo" 
        [(ngModel)]="organizzaTarget" 
        [disabled]="this.profonditaArchivio === 3 && this.operazioneOrganizza === 'Sposta'">
      </p-radioButton>
      <p class="organizza-target-button-descrizione">{{this.getDescrizioneAzioneTargetText('fascicolo')}}</p>
    </div>
    <div class="organizza-target-button-container">
      <p-radioButton 
        name="organizzaTarget" 
        value="contenuto" 
        label="Contenuto" 
        [(ngModel)]="organizzaTarget">
      </p-radioButton>
      <p class="organizza-target-button-descrizione">{{this.getDescrizioneAzioneTargetText('contenuto')}}</p>
    </div>
    <div  *ngIf="this.operazioneOrganizza == 'Duplica'" class="organizza-target-button-container">
      <p>* Verrà creato un duplicato del fascicolo/subfascicolo fratello a quello di partenza.</p>
    </div>
  </div>
  <app-archivio-ricerca 
        *ngIf="this.operazioneOrganizza != 'Rendi fascicolo' && this.operazioneOrganizza != 'Duplica'"
        #archivioRicerca 
        [idAzienda]="this.archivio?.idAzienda.id" 
        [livello]="getLivelloForAutocompliteArchivioDestinazione()"
        [permessoMinimo]="this.permessoMinimoSuArchivioDestinazioneOrganizza"
        [archivio]="this.archivioDestinazioneOrganizza"
        (archivioSelectedEvent)="archivioSelectedEvent($event.arch)">
  </app-archivio-ricerca>
  <!-- <p-autoComplete [(ngModel)]="text" placeholder="Fascicolo di desctinazione" [suggestions]="results" (completeMethod)="search($event)"></p-autoComplete> -->
  <p-button *ngIf="this.operazioneOrganizza != 'Rendi fascicolo'" [disabled]="!canOrganizzare()" type="button" (click)="organizza()" label="Conferma"></p-button>
</p-dialog>

<richiesta-accesso-archivi #richiestaaccessoarchivi *ngIf="archivio?.isArchivioNero"></richiesta-accesso-archivi>

<p-confirmPopup key="confirm-popup"></p-confirmPopup>

<p-dialog 
  appendTo="body"
  header="Chiudi fascicolo"
  [(visible)]="this.showChiudiPopup"
  [modal]="true"
  [responsive]="false"
  [focusOnShow]="false"
  contentStyleClass="chiudiPopup">
Attenzione! Eventuali bozze di sottofascicoli o inserti saranno eliminate. Si vuole procedere?
  <br>
  <br>
  <button
    type="button"
    (click)="chiudiRiapriArchivio($event); this.showChiudiPopup = false;"
    pButton
    label="Conferma chiusura"
    class="mr-2 chiudiBottoni"
    icon="pi pi-check"
  ></button>
  <button
    type="button"
    (click)="this.showChiudiPopup = false;"
    pButton
    label="Annulla"
    icon="pi pi-times"
    class="mr-2 chiudiBottoni"
  ></button>
</p-dialog>