:host ::ng-deep {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  p-splitter {
    flex: 1 1 0;
    height: calc(100% - 44.5px); // 44.5px è l'altezza della generic-caption-table
    .splitter-archivio {
      height: 100%;
      .p-splitter-panel {
        overflow: hidden;
        width: 100%;
        .mini-caption-table {
          background: #f4f4f4;
          color: #333333;
          border: 1px solid #c8c8c8;
          border-width: 0 1px 0 1px;
          padding: 0.857rem 1rem;
          font-weight: 700;
          box-sizing: border-box;
          padding: 5px0.625rem !important;
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          margin: 0;
          &.caption-lista-docs {
            background: #AFC1DE;
          }
        }
        .hide {
          //display: none;
          position: absolute;
          top: 999999px;
          left: 0
        }
        .hide-sottoarchivi {
          .p-splitter-panel:first-child,
          .p-splitter-gutter {
            display: none;
          }
        }
      }
    }
  }
}

::ng-deep .organizzaPopup{
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  width: 500px;
  app-archivio-ricerca{
    margin: 1rem;
    width: 80%;
  }
  p-button{
    margin-top: 1rem;
  }
}



::ng-deep .chiudiPopup {
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}