<span class="title-box">
  <!-- <h4>{{doc.oggetto}}</h4> -->
  <h4>
    <i *ngIf="doc.visibilitaLimitata && !doc.riservato " pTooltip="Visibilità limitata" class="pi pi-eye"></i>
    <i *ngIf=" doc.riservato " pTooltip="Riservato" class="pi pi-eye-slash"></i>
    {{doc.oggetto}} <div *ngIf="utenteUtilitiesLogin.hasRole('CA')"> id: {{doc.id}}</div>
  </h4>
  


<!-- 
  <h4 *ngIf="doc.visibilitaLimitata && !doc.riservato" class="pi pi-eye"></h4>
  <h4 *ngIf="doc.riservato" class="pi pi-eye-slash"></h4>
  <h4 *ngIf="!doc.visibilitaLimitata && !doc.riservato">{{doc.oggettoVisualizzazione}}</h4> -->
  <p-button icon="pi pi-times" (onClick)="closePanel()"></p-button>
</span>

<p-button class="margin-bot" *ngIf = "docUtilsService.isDocApribile(doc)" 
      label="Apri documento" icon="pi pi-book" (onClick)="docUtilsService.openDoc(doc,utente)"></p-button>
<!-- *ngIf="(!doc.visibilitaLimitata && !doc.riservato) " -->

<p-accordion styleClass="doc-detail-accordion">
  <p-accordionTab
    [(selected)]="accordionSelected[0]"
    [ngClass]="accordionSelected[0] ? 'tab-accordion-selected' : ''"
    [disabled]="!canVisualizeAllegati()">
    <ng-template pTemplate="header">
      <span class="vertical-align-middle">{{ canVisualizeAllegati() ? 'Allegati' : 'Non puoi visualizzare gli allegati di questo documento' }}</span>
    </ng-template>
    <ng-template pTemplate="content">
      <attachments-box 
        *ngIf="canVisualizeAllegati()"
        [idDoc]="doc.id"
        [config]="attachmentsBoxConfig">
      </attachments-box>
      <h4>
        <!-- <i *ngIf="doc.visibilitaLimitata && !doc.riservato  " class="pi pi-eye"></i>
        <i *ngIf="!doc.visibilitaLimitata && doc.riservato " class="pi pi-eye-slash"></i> -->
        <!-- {{!doc.visibilitaLimitata && doc.riservato && !hasUserPienaVisibilita(doc) ? "[Riservato]" : ""}} -->
        <!-- {{doc.visibilitaLimitata && !doc.riservato  ? "Visibilita limitata" : ""}} -->
      </h4>
    </ng-template>
  </p-accordionTab>
  <p-accordionTab 
    header="Versamenti"
    [(selected)]="accordionSelected[1]"
    *ngIf = "isResponsabileVersamento === true"
    [ngClass]="accordionSelected[1] ? 'tab-accordion-selected' : ''">
    <i class="pi pi-info-circle info-versamenti" 
      (click)="op.toggle($event)"
      pTooltip="Scopri alcune caratteristiche degli errori versamento">
    </i>
    <p-overlayPanel #op 
      appendTo="body"
      styleClass="overlaypanel-info-versamenti"
      [showCloseIcon]="true">
      <ng-template pTemplate>
        <p>Questo filtro può essere usato per cercare un fascicolo per numero oppure per numerazione gerarchica. Di seguito alcuni esempi</p>
        <ul>
          <li>Seleziona il livello Sottofascicolo e scrivi nella ricerca il numero del sottofascicolo desiderato</li>
          <li>Seleziona il livello Tutti e scrivi una numerazione gerarchica completa (es 23-1/2018) per trovare immediatamente il fascicolo desiderato</li>
          <li>Non ti ricordi l'esatta numerazione? Inserisci quello che ti ricordi a partire dal livello più importante, ad es. con 23- troverari tutti i sottofascioli/inserti figli del fascicolo 23</li>
        </ul>
        Ricorda: Non cercare qui immettendo solo l'anno, usa il filtro sull'anno di creazione o altri ancora per trovare più facilmente ciò che desideri.
      </ng-template>
    </p-overlayPanel>
    <versamenti [idDoc]="doc.id"></versamenti>
  </p-accordionTab>
</p-accordion>
