:host ::ng-deep {
  height: 100%;
  width: 100%;
  padding: 7px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  .tab-accordion-selected {
    flex: 1 1 0;
    .p-toggleable-content {
      flex: 1 1 0;
      .p-accordion-content {
        height: 100%; 
      }
    }
  }
  .title-box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    h4 {
      margin: 0;
      padding: 0;
      align-self: center;
    }
  }
  attachments-box {
    flex: 1 1 0;
  }
}
