<span class="title-box">
  <!-- <h4>{{doc.oggetto}}</h4> -->
  <h4>
    <i *ngIf="doc.visibilitaLimitata && !doc.riservato " pTooltip="Visibilità limitata" class="pi pi-eye"></i>
    <i *ngIf=" doc.riservato " pTooltip="Riservato" class="pi pi-eye-slash"></i>
    {{doc.oggetto}} <div *ngIf="utenteUtilitiesLogin.hasRole('CA')"> id: {{doc.id}}</div>
  </h4>
  


<!-- 
  <h4 *ngIf="doc.visibilitaLimitata && !doc.riservato" class="pi pi-eye"></h4>
  <h4 *ngIf="doc.riservato" class="pi pi-eye-slash"></h4>
  <h4 *ngIf="!doc.visibilitaLimitata && !doc.riservato">{{doc.oggettoVisualizzazione}}</h4> -->
  <p-button icon="pi pi-times" (onClick)="closePanel()"></p-button>
</span>

<p-button class="margin-bot" *ngIf = "docUtilsService.isDocApribile(doc)" 
      label="Apri documento" icon="pi pi-book" (onClick)="docUtilsService.openDoc(doc,utente)"></p-button>
<!-- *ngIf="(!doc.visibilitaLimitata && !doc.riservato) " -->

<p-accordion styleClass="doc-detail-accordion">
  <p-accordionTab
    [(selected)]="accordionSelected[0]"
    [ngClass]="accordionSelected[0] ? 'tab-accordion-selected' : ''"
    [disabled]="!showAllegati">
    <ng-template pTemplate="header">
      <span class="vertical-align-middle">{{ showAllegati ? 'Allegati' : 'Non puoi visualizzare gli allegati di questo documento' }}</span>
    </ng-template>
    <ng-template pTemplate="content">
      <attachments-box 
        *ngIf="showAllegati"
        [idDoc]="doc.id"
        [infoDoc]="infoDoc"
        [config]="attachmentsBoxConfig">
      </attachments-box>
      <h4>
        <!-- <i *ngIf="doc.visibilitaLimitata && !doc.riservato  " class="pi pi-eye"></i>
        <i *ngIf="!doc.visibilitaLimitata && doc.riservato " class="pi pi-eye-slash"></i> -->
        <!-- {{!doc.visibilitaLimitata && doc.riservato && !hasUserPienaVisibilita(doc) ? "[Riservato]" : ""}} -->
        <!-- {{doc.visibilitaLimitata && !doc.riservato  ? "Visibilita limitata" : ""}} -->
      </h4>
    </ng-template>
  </p-accordionTab>
  <p-accordionTab 
    header="Versamenti"
    [(selected)]="accordionSelected[1]"
    *ngIf = "isResponsabileVersamento === true"
    [ngClass]="accordionSelected[1] ? 'tab-accordion-selected' : ''">
    <i class="pi pi-info-circle info-versamenti" 
      (click)="op.toggle($event)"
      pTooltip="Scopri alcune caratteristiche degli errori versamento">
    </i>
    <p-overlayPanel #op 
      appendTo="body"
      styleClass="overlaypanel-info-versamenti"
      [showCloseIcon]="true">
      <ng-template pTemplate>
        <p>Gli errori di versamento possono essere di tre tipi</p>
        <ul>
          <li>Errori forzabili: sono documenti che presentano dei problemi nella verifica della validità della firma di un allegato o più. Il responsabile di versamento li può forzare in autonomia.</li>
          <li>Errori crittografici: sono documenti che presentano dei problemi strutturali nella firma di un allegato o più. Il responsabile di versamento li può forzare, ma in sessioni concordate con il polo archivistico</li>
          <li>Errori non forzabili: sono documenti che presentano errori nella composizione del documento inviato al polo archivistico, errori nel processo di invio, etc.. Il responsabile di versamento può solo ritentare il versamento. </li>
        </ul>
        Ricorda: La differenza tra ritentare e forzare un versamento è che il "ritenta versamento" riverserà lo stesso xml, mentre il "forza versamento" abiliterà il parametro chiamato "forza accettazione" nell'xml che permette di mandare in conservazione i documenti nonostante gli errori forzabili
      </ng-template>
    </p-overlayPanel>
    <versamenti [idDoc]="doc.id"></versamenti>
  </p-accordionTab>
</p-accordion>
