<generic-caption-table 
  [configuration]="captionConfiguration"
  [referenceTableComponent]="archivilist"
  [selectButtonsComponent]="archivilist"
  [functionalOperationsComponent]="archivilist">
</generic-caption-table>
<archivi-list #archivilist></archivi-list>
<!-- <p-button 
  (onClick)="aggiuntiLotto()" 
  label="Aggiungi Lotto"
  class="btn-aggiungi-lotto"
></p-button>

<p-dialog 
  header="Dettaglio Lotto" 
  [(visible)]="display" 
  [style]="{width: '70vw', height: '70vh'}" 
  [baseZIndex]="10000"
  [modal]="true">

  <app-lotti-detail></app-lotti-detail>

  <ng-template pTemplate="footer">
    <div class="salvaBtn-chiudiBtn">
      <p-button 
        icon="pi pi-check" 
        label="Salva" 
        styleClass="p-button-text"
        (onClick)="saveDialog()"
        ></p-button>
        <p-button 
        icon="pi pi-times" 
        label="Chiudi"
        (onClick)="closeDialog()"
        ></p-button>
      </div>
    </ng-template>
  </p-dialog> -->
