:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  archivi-list {
    flex: 1 1 0;
  }
}

:host::ng-deep .generic-caption-table-row {
  .left-content .tabs .p-selectbutton .p-button:hover{
    background-color: #993366 !important;
    border-color: #993366 !important;
  }
}