<p-splitter 
  styleClass="splitter-dettaglio-archivio"
  [panelSizes]="panelSize"
  [minSizes]="[30,30]"
  [ngClass]="{ hiderightside: !showLogs }">
  <ng-template pTemplate>
    <div class="box-campi-dettaglio">
      <div class="left-side">
        <div style="height: 2px; background-color: #936;"  *ngIf="loggedUserIsResponsbaileProposto === true"></div>
        <div class="row accept-reponsability" *ngIf="loggedUserIsResponsbaileProposto === true" >
          <div>
            <b>Vuoi accettare la responsabilità di questo fascicolo?</b>
          </div>
          <div class="bottons">
            <button pButton type="button" label="Accetta" (click)="accettaResponsabilita()" ></button>
            <button pButton type="button" label="Rifiuta" (click)="rifiutaResponsabilita()" ></button>
          </div>
        </div>
        <div style="height: 2px; background-color: #936;"  *ngIf="loggedUserIsResponsbaileProposto === true"></div>
        <div class="row multielements">
          <!-- Campo azienda -->
          <div class="input-box">
            <label for="aziendaDescrizione">Azienda</label>
            <input id="aziendaDescrizione" 
              class="input-aziendaDescrizione" 
              type="text" 
              pInputText 
              [disabled]="true"
              [(ngModel)]="archivio.idAzienda.descrizione" />
          </div>
          <!-- Campo Tipo -->
          <div class="input-box campo-tipo">
            <label for="tipo">Tipo</label>
            <p-dropdown #dropdownTipo 
              [options]="tipiArchivioObj" 
              [(ngModel)]="archivio.tipo"
              (onChange)="onChangeTipo($event.value)" 
              optionValue="value" 
              optionLabel="nome" 
              appendTo="body" 
              class="dropdown"
              [disabled]="archivio.tipo === 'SPECIALE' || archivio.livello > 1 || !loggedUserCanEditDetails || isArchivioChiuso || archivio.pregresso">
            </p-dropdown>
          </div>
          <!-- Campo riservato -->
          <div class="input-box campo-riservato" *ngIf="isParlante == false">
            <label for="riservato">Riservato</label>
            <i id="riservato" #riservato
              type="button" 
              (click)="(archivio.livello === 1 && !isArchivioChiuso)? changeVisibilita() : null" 
              class="pi" 
              title="Riservato"
              [ngClass]="{'pi-eye': !archivio.riservato, 'pi-ban': archivio.riservato, 'icona-riservato': !isArchivioChiuso}"
              [pTooltip]="archivio.livello === 1 ? archivio.riservato ? 'Rendi visibile il fascicolo' : 'Rendi riservato il fascicolo' : 
                'Puoi modificare la riservatezza sul fascicolo radice'">
            </i>
          </div>
        </div>
        <div class="row">
          <!-- Campo Oggetto -->
          <label for="oggetto">Nome</label>
          <span class="p-input-icon-right span-oggetto">
            <i *ngIf="saving.oggetto" >
              <i class="pi pi-spin pi-spinner"></i>
              <span> Salvataggio</span>
            </i>
            <input 
              id="oggetto" 
              [disabled]="!loggedUserCanEditDetails || isArchivioChiuso || archivio.pregresso"
              type="text" 
              placeholder="Inserisci il nome dell'archivio"
              (keyup)="saving.oggetto = true; timeOutAndSaveArchivio(archivio, 'oggetto')" 
              pInputText 
              [(ngModel)]="archivio.oggetto" />
          </span>
        </div>
        <div class="row">
          <!-- Campo Classificazione -->
          <label for="classificazione">Classificazione</label>
          <p-treeSelect #titoliTreeSelect 
            id="classificazione" 
            [(ngModel)]="selectedTitolo" 
            [options]="titoli"
            [disabled]="archivio.livello > 1 || !loggedUserCanEditDetails || isArchivioChiuso || archivio.pregresso"
            (onShow)="onShowTitoli()" 
            (onNodeExpand)="onShowTitoli($event)"
            (onNodeSelect)="onSelectTitolo($event.node.data)" 
            selectionMode="single"
            placeholder="Seleziona una classificazione" 
            appendTo="body" 
            [propagateSelectionUp]="false"
            [propagateSelectionDown]="false">
            <ng-template pTemplate="header">
              <div class="p-tree-filter-container box-autocomplete-classificazione">
                <p-autoComplete #autocompleteClassificazione 
                  ariaLabel="Cerca classificazione" 
                  ngModel
                  (onSelect)="onSelectTitolo($event)" 
                  [suggestions]="filteredTitoli" 
                  (completeMethod)="filterTitoli($event)"
                  field="nome" 
                  appendTo="body" 
                  [dropdown]=true 
                  placeholder="Cerca classificazione..."
                  emptyMessage="Nessun riferimento trovato">
                  <ng-template let-titolo pTemplate="item">
                    <span>[{{titolo.classificazione}}] {{titolo.nome}}</span>
                  </ng-template>
                </p-autoComplete>
              </div>
            </ng-template>
          </p-treeSelect>
        </div>
        <div class="row multielements">
          <!-- Campo tipologia documentale / massimario -->
          <div class="input-box">
            <label for="categoria">Tipologia documentale</label>
            <p-autoComplete id="categoria" #autocompleteCategoria 
              ariaLabel="tipologia documentale"
              [(ngModel)]="archivio.idMassimario"
              [disabled]="!archivio.idTitolo || archivio.livello > 1 || !loggedUserCanEditDetails || isArchivioChiuso || archivio.pregresso"
              (onSelect)="archivio.anniTenuta = archivio.idMassimario.anniTenuta; onSelectMassimario($event)"
              [suggestions]="filteredMassimari" 
              (completeMethod)="filterMassimario($event)" 
              field="nome" 
              appendTo="body"
              [dropdown]=true 
              placeholder="Cerca categoria..." 
              emptyMessage="Nessun riferimento trovato">
              <ng-template let-massimario pTemplate="item">
                <span>{{massimario.nome}} ({{massimario.descrizioneTenuta}})</span>
              </ng-template>
            </p-autoComplete>
          </div>
          <!-- Campo conservazione -->
          <div class="input-box campo-conservazione">
            <label for="conservazione">Conservazione</label>
            <p-dropdown 
              [autoDisplayFirst]="true" 
              [disabled]="!archivio.idMassimario || archivio.livello > 1 || !loggedUserCanEditDetails || isArchivioChiuso || archivio.pregresso" 
              optionLabel="name" 
              optionValue="value"
              [options]="anniTenutaSelezionabili" 
              (onClick)="saveAnniTenuta(archivio.anniTenuta)" 
              [(ngModel)]="archivio.anniTenuta"
              optionLabel="name" 
              class="dropdown">
            </p-dropdown>
          </div>
        </div>
    
        
    
        
        <!-- <div class="row">
          <label for="tipo">Archivi collegati</label>
          <input pInputText id="linkArchivi" [disabled]="!loggedUserIsResponsbaileOrVicario"  />
        </div> -->
          <!-- <p-autoComplete id="archiviCollegati" #autocompleteArchivio ariaLabel="archivi collegati"
                [(ngModel)]="selectedArchivioCollegato" (onSelect)="linkArchivio($event)" [suggestions]="filteredFascicoli"
                (completeMethod)="linkFascicolo($event)" field="nomeFascicolo" appendTo="body" class="p-col"
                [dropdown]=true placeholder="Cerca fascicolo..." emptyMessage="Nessun riferimento trovato">
                <ng-template let-fascicolo pTemplate="item">
                    <div>[{{fascicolo.numerazioneGerarchica}}] {{fascicolo.nomeFascicolo}}</div>
                </ng-template>
          </p-autoComplete> -->
        
      </div>
      <div class="right-side">
        <div 
          pTooltip="Mostra cronologia" 
          tooltipPosition="left" 
          (click)="loadLogs()" 
          class="ultima-modifica"
          style="transform: translateX(8%); cursor: pointer; font-size: small;">
          Ultima modifica: {{removeZoneFromTime(archivio.version?.toString()) | date: 'EE d MMM y' | titlecase}}
        </div>
        <div class="numeraFasicolo">
          <!-- Bottone numera archivio -->
          <button *ngIf="archivio.stato == 'BOZZA'" 
            type="button" 
            pButton 
            (click)="numeraFasicoloClicked($event)"
            label="Numera {{labelLivelloArchivio}}"  
            class="p-mr-2"
            pTooltip="Numera {{labelLivelloArchivio}}"  
            aria-label="Numera {{labelLivelloArchivio}}"
            [disabled]="!archivio.oggetto || !archivio.tipo || !archivio.idTitolo || isArchivioChiuso || archivio.pregresso" 
            tooltipPosition="bottom">
          </button>
          <!-- Bottone chiudi o riapri 
          <p-button *ngIf="archivio.stato !== 'BOZZA' && archivio.livello == 1 && archivio.stato !== 'CHIUSO'"  
            class="p-mr-2"
            (click)="chiudiRiapriArchivio($event)" 
            [disabled]="!loggedUserCanEditDetails">
            {{archivio.stato === 'APERTO' ? 'Chiudi' : 'Riapri'}}
          </p-button> -->
    
        </div>
        <div class="note-box">
          <!-- <label>Note</label> -->
          <textarea #noteArea
            pInputTextarea
            [disabled]="!loggedUserCanEditDetails || isArchivioChiuso"
            rows="5" 
            cols="22" 
            [(ngModel)]="archivio.note"
            (keyup)="timeOutAndSaveArchivio(archivio, 'note')"
            placeholder="Qui è possibile inserire note come: descrizione, ubicazione fisica, etc..."
            pTooltip="Qui è possibile inserire note come: descrizione, ubicazione fisica, etc..." 
            tooltipPosition="bottom"
            style="resize:none">
          </textarea>
        </div>
      </div>
    </div>
    <p-accordion class="accodion-box-permessi">
      <p-accordionTab header="Responsabili e Vicari" [selected]="true">
      <app-responsabili
        [archivio]="archivio" [loggedUserIsResponsbaileOrVicario]="loggedUserCanEditDetails" [sonoResponsabile]="isLoggedUserResponsabile">
      </app-responsabili>
      </p-accordionTab>
      <p-accordionTab header="Permessi Struttura">
        <app-permessi-struttura [archivio]="archivio" [loggedUserIsResponsbaileOrVicario]="loggedUserCanEditDetails" [isLoggedUserResponsabile]="isLoggedUserResponsabile"></app-permessi-struttura>
      </p-accordionTab>
      <p-accordionTab header="Permessi Persona">
        <app-permessi-persona [archivio]="archivio" [loggedUserIsResponsbaileOrVicario]="loggedUserCanEditDetails" [isLoggedUserResponsabile]="isLoggedUserResponsabile"></app-permessi-persona>
      </p-accordionTab>
    </p-accordion>
  </ng-template>
  <ng-template pTemplate>
    <div class="log-container" [ngClass]="{'showLogs': showLogs}">
      <div 
        class="header-cronology"
        (click)="showLogs = false">
        Chiudi cronologia
      </div>
      <log-viewer 
        class="logger" 
        [krintFilterOptions]="krintFilterOptions">
      </log-viewer>
    </div>
  </ng-template>
</p-splitter>

<p-toast key="dettaglioArchivioToast"></p-toast>

<p-confirmDialog [baseZIndex]="10000" acceptLabel="Sì"></p-confirmDialog>

<!--<p-confirmPopup key="confirm-popup"></p-confirmPopup> -->

<p-confirmPopup key="confirm-popup" class="popupChiusura" ></p-confirmPopup>


