$font-size-label: 0.813rem;
$min-width-label: 9.688rem;

:host {
  padding: 5px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
::ng-deep .splitter-dettaglio-archivio {
  .p-splitter-panel {
    display: flex;
    flex-direction: column;
    
  }
}

.ultima-modifica:hover {
  font-weight: bold;
  text-decoration: underline;
}

.content {
  font-size: 90%;
}

.bottoneChiudi {
  left: 0px;
}
::ng-deep .box-campi-dettaglio {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  .left-side {
    //width: 100%;
    flex-grow: 4;
    .row {
      display: flex;
      justify-content: space-between;
      padding: 3px 0;
      .dropdown{
        width: 100%;
      }
      label {
        min-width: $min-width-label;
        text-align: right;
        font-size: $font-size-label;
      }
      #classificazione {
        width: 100%;
        .p-treeselect {
          width: 100%;
        }
      }
      .span-oggetto {
        width: 100%;
      }
    }
    .multielements {
      justify-content: flex-start;
      .input-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:first-child {
          width: 100%;
        }
        &.campo-tipo {
          label {
            min-width: 3.75rem;
          }
        }
        &.campo-riservato {
          padding-right:0.625rem;
          label {
            min-width: 5.625rem;
          }
          .icona-riservato {
            cursor: pointer;
          }
        }
        &.campo-conservazione {
          label {
            min-width: 7.5rem;
          }
        }
      }
    }
    .accept-reponsability {
      align-items: center;
      justify-content: space-around;
      .bottons{
        display: flex;
      }
    }
  }
  .right-side {
    //flex-grow: 1;
    width: 17.5rem;
    .numeraFasicolo {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding:0.625rem;
    }
    /* .flag-box {
      display: flex;
      justify-content: space-around;
      label {
        font-size: $font-size-label;
      }
    } */
    .note-box {
      display: flex;
      flex-direction: column;
      padding-right: 1.25rem;
      padding-left: 1.25rem;
      label {
        align-self: flex-start;
        font-size: $font-size-label;
      }
    }
  }
}
::ng-deep .accodion-box-permessi {
  flex: 1 1 0;
  .p-accordion-content {
    height: 100%;
  }
}
::ng-deep .box-autocomplete-classificazione {
  padding: 4px0.625rem 00.625rem;
}


.log-container {
  height: 100%;
  transition: height 1s;
  background-color: #f4f4f4;
  &.showLogs {
    font-size: 0.938rem;
  }
  .header-cronology {
    height: 20px;
    cursor: pointer;
    text-align: left;
    text-decoration: underline;
    font-size: medium;
    &:hover {
      font-weight: bold;
    }
    i {
      position: absolute;
      right: 124px;
      font-size: 1.25rem;
    }
  }
  .logger {
    height: calc( 100% - 20px); // 20px è l'height di header-cronology
    display: flex;
    overflow: auto;
  }
}

