<generic-caption-table *ngIf="doclistComponent"
  [configuration]="captionConfiguration"
  [referenceTableComponent]="doclistComponent"
  [selectButtonsComponent]="doclistComponent"
  [functionalOperationsComponent]="doclistComponent">
</generic-caption-table>
<p-splitter 
  styleClass="splitter-docs-list"
  [panelSizes]="[55,45]"
  [minSizes]="[30,30]"
  [ngClass]="{ hiderightside: !showRightSide }">
  <ng-template pTemplate>
    <docs-list #doclist
      [showAnteprimaInit]="showRightSide"
      (showRightPanel)="manageRowSelected($event)"
      (docListModeSelected)="manageDocListModeSelectd($event)">
    </docs-list>
  </ng-template>
  <ng-template pTemplate>
    <doc-detail-and-preview *ngIf="showRightSide"
      [doc]="docForDetailAndPreview" 
      [sonoPersonaVedenteSuDocSelezionato]="sonoPersonaVedenteSuDocSelezionato" 
      (closeRightPanel)="manageRowSelected({showPanel: false, rowSelected: null, sonoPersonaVedenteSuDocSelezionato: null})" 
      [docListModeSelected]="docListModeSelected">
    </doc-detail-and-preview>
  </ng-template>
</p-splitter>
