<generic-caption-table *ngIf="doclistComponent"
  [configuration]="captionConfiguration"
  [referenceTableComponent]="doclistComponent"
  [selectButtonsComponent]="doclistComponent">
</generic-caption-table>
<p-splitter 
  styleClass="splitter-docs-list"
  [panelSizes]="[55,45]"
  [minSizes]="[30,30]"
  [ngClass]="{ hiderightside: !showRightSide }">
  <ng-template pTemplate>
    <docs-list #doclist
      [showAnteprimaInit]="showRightSide"
      (showRightPanel)="manageRowSelected($event)" >
    </docs-list>
  </ng-template>
  <ng-template pTemplate>
    <doc-detail-and-preview *ngIf="showRightSide"
      [doc]="docForDetailAndPreview" 
      (closeRightPanel)="manageRowSelected({showPanel: false, rowSelected: null})" >
    </doc-detail-and-preview>
  </ng-template>
</p-splitter>
