:host {
  width: 100%;
}
::ng-deep .archivi-header-div{
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #c8c8c8;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  background-color: #f4f4f4;
  box-shadow: 2px 2px 10px 5px #e1e1e1;
}

::ng-deep .archivi-breadcrumb {
  /* border: none;
  border-bottom: 1px solid #c8c8c8;
  border-radius: 0; */
  padding: 0;
  margin: 5px;
  .p-breadcrumb-chevron {
    margin: 0 !important;
  }
  .p-menuitem-link {
    display: flex;
    flex-wrap: nowrap;
    cursor: pointer;
    .p-menuitem-text {
      white-space: pre;
      margin-left: 2px;
      font-size: 15px;
    }
  }
}
::ng-deep .archivi-tree  {
  border: none;
  /* .p-tree-container {
    .p-treenode {
      .p-treenode-content {
        &:focus {
          box-shadow: none;
        }
      }
    }
  } */
}

::ng-deep .alert-too-much-archives{
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  font-size: 12px;
  .alert-text{
    padding: 0px 15px 0px 8px;
  }
}

