main{
    padding: 1.5rem;
    display: inline-block;
    height: 100%;
    width: 100%;
}

p-tree {
    display: inline-block;
    height: 100%; 
    border: none;
}

.tree-conainer {
    display: inline-block;
    height: 100%;
    background-color: lime;
}

.p-tree.p-component.ng-star-inserted {
    display: inline-block;
    height: 100%;
}

.ciccio {
    background-color: blue;
}