:host ::ng-deep {
  .generic-caption-table-row {
    background: #f4f4f4;
    color: #333333;
    border: 1px solid #c8c8c8;
    border-width: 1px 1px 0 1px;
    padding: 0.857rem 1rem;
    font-weight: 700;
    box-sizing: border-box;
    padding: 5px 0.625rem !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    //z-index: 700;
    position: relative;
    .p-button {
      color: white;
    }
    .left-content {
      height: 2.063rem;
      .box-ricerca {
        width: 33.3%;
        display: flex;
        flex-wrap: nowrap;
        .p-input-icon-left {
          flex-grow: 1;
        }
      }
      .tabs {
        //width: 66.6%;
        margin-left: 0.5vw;
        align-self: center;
        .p-selectbutton {
          flex-wrap: nowrap;
          display: flex;
          .p-button {
            border: 1px solid #9da3a9 !important;;
            color: #333333;
            background-color: #f4f4f4 !important;
            &:hover {
              color: #333333;
              background-color: #993366 !important;
              border-color: #993366 !important;

            }
            .p-button-label {
              white-space: nowrap;
            }
          }
          .p-highlight {
            color: white;
            background-color: #203244 !important;
          }
        }
      }
      .row-count {
        align-self: center;
        margin-left: 0.5vw;
      }
      .p-inputtext {
        align-self: center;
        height: 2.063rem;
      }
      .refresh-button {
        margin-left: 1px;
      }
      .alarm-button {
        background-color: orange !important;
        margin-left: 4px;
        border: 1px solid darkorange !important;
        color: black;
      }
    }
    .right-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &>span {
        margin-right: 5px;
      }
      .p-field-checkbox {
        margin-bottom: 0 !important;
      }
      .p-button {
        /* &:hover {
          background-color: #7e7e7e !important;
          border-color: #aeaaac !important;
        } */
        &.p-fileupload-choose {
          background-color: transparent !important;
          border: none !important;
          font-size: 2rem !important;
          color: #406284 !important;
          padding: 0;
          &:hover {
            background-color: transparent !important;
            border: none !important;
          }
          &:focus-visible {
            background-color: transparent !important;
            border: none !important;
          }
          .p-button-icon {
            font-size: 2rem;
          }
        }
        &:target{
          outline: none !important;
        }
      }
      .button-icon {
        font-size: 2rem;
        cursor: pointer;
        color: #406284;
        &:hover {
          color: #936 !important;
          background-color: transparent !important;
          border-color: transparent !important;
        }
      }
      .preferitoStar {
        font-size: 2rem;
        cursor: pointer;
        color: #936 !important; 
        &:hover {
          color: #7e7e7e !important;
          background-color: transparent !important;
          border-color: transparent !important;
        }
        &:target{
          outline: none !important;
        }
      }
      .funzioniGear {
        font-size: 2rem;
        cursor: pointer;
        color: #2e4a65 !important; 
        &:hover {
          color: #936 !important;
          background-color: transparent !important;
          border-color: transparent !important;
        }
        &:target{
          outline: none !important;
        }
      }
      .lucchettoChiuso {
        padding-right: 4px;
        padding-left: 4px;
        font-size: 1.8rem;
        color: #2e4a65 !important; 
        &:target{
          outline: none !important;
        }
        &:hover {
          color: #936 !important;
          background-color: transparent !important;
          border-color: transparent !important;
        }
      }
      .empty{
        color: #2e4a65  !important;
      }
    }
  }

}

::ng-deep .span-fileUpload-button {
  margin-right: 5px !important;
}
::ng-deep .upload-document-button {
  .p-fileupload-choose {
    height: 2.188rem;
  }
  /* .p-button {
    background-color: transparent !important;
    border: none !important;
    font-size: 2rem !important;
    color: #406284 !important;
    &:hover {
      background-color: transparent !important;
      border: none !important;
    }
    &:focus-visible {
      background-color: transparent !important;
      border: none !important;
    }
  } */
}
