:host ::ng-deep {
  .generic-caption-table-row {
    background: #f4f4f4;
    color: #333333;
    border: 1px solid #c8c8c8;
    border-width: 1px 1px 0 1px;
    padding: 0.857rem 1rem;
    font-weight: 700;
    box-sizing: border-box;
    padding: 5px 10px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .p-button {
      color: white;
    }
    .left-content {
      height: 33px;
      .box-ricerca {
        width: 400px;
        display: flex;
        flex-wrap: nowrap;
        .p-input-icon-left {
          flex-grow: 1;
        }
      }
      .tabs {
        margin-left: 0.5vw;
        align-self: center;
        .p-selectbutton {
          flex-wrap: nowrap;
          .p-button {
            border: 1px solid #9da3a9 !important;;
            color: #333333;
            background-color: #f4f4f4 !important;
            &:hover {
              color: #333333;
              background-color: #993366 !important;
              border-color: #993366 !important;
            }
          }
          .p-highlight {
            color: white;
            background-color: #203244 !important;
          }
        }
      }
      .p-progress-spinner {
        height: 21px !important;
        width: 21px !important;
        vertical-align: sub;
      }
      .p-inputtext {
        align-self: center;
        height: 33.72px;
      }
      .refresh-button {
        margin-left: 1px;
      }
      .alarm-button {
        background-color: orange !important;
        margin-left: 4px;
        border: 1px solid darkorange !important;
        color: black;
      }
      @media screen and (max-width: 1280px) {
        font-size: 10pt;
        .p-inputtext {
          align-self: center;
          height: 33.72px;
          font-size: 10px;
        }
        .p-buttonselect {
          font-size: 10px;
          .p-selectbutton {
            display: flex;
            font-size: small;
            flex-wrap: nowrap;
            align-self: center;
            font-size: 10px;
          }
        }
      }
    }
    .right-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .p-field-checkbox {
        margin-bottom: 0 !important;
      }
      .p-button{
        &:hover {
          background-color: #7e7e7e !important;
          border-color: #aeaaac !important;
        }
        &:target{
          outline: none !important;
        }
      }
    }
  }
}
