<p-table #dt 
  ariaLabel="Tabella elenco archivi" 
  [value]="archivi" 
  dataKey="id"
  [columns]="selectedColumns" 
  [sortField]="initialSortField" 
  [sortOrder]="-1" 
  [defaultSortOrder]="-1" 
  [reorderableColumns]="true" 
  (onColReorder)="onColReorder($event)"
  [rows]="rowsNumber" 
  scrollHeight="flex"
  [scrollable]="true" 
  [virtualScroll]="true" 
  [virtualScrollDelay]="150" 
  [virtualRowHeight]="54"
  [lazy]="true" 
  [lazyLoadOnInit]="false" 
  (onLazyLoad)="onLazyLoad($event)" 
  [loading]="loading"
  [totalRecords]="totalRecords" 
  styleClass="p-table-scripta-archivi-list" 
  [ngClass]="{'table-zero-rows': totalRecords === 0}"
  tableStyleClass="archiviolist-table-body">
  <!-- HEADER & ORDINAMENTO ---->
  <ng-template pTemplate="header" let-columns>
    <tr class="header-row">
      <th *ngFor="let col of columns" 
        pReorderableColumn 
        [ngSwitch]="col.field" 
        [ngClass]="col.headerClass"
        [pSortableColumn]="col.sortField"
        [ngStyle]="{'cursor': col.sortField && col.field !== 'eliminazione' ? null : 'move' }">
        <span class="header-box" 
          [attr.aria-label]="col.label">
          {{col.header}}
          <p-sortIcon *ngIf="col.sortField" [field]="col.sortField"></p-sortIcon>

          <i *ngIf="col.field === 'numerazioneGerarchica'" 
            class="pi pi-info-circle info-numerazione-gerarchica" 
            (click)="op.toggle($event)"
            pTooltip="Scopri come usare al meglio la ricerca per numerazione">
          </i>
          <p-overlayPanel #op 
            appendTo="body"
            styleClass="overlaypanel-info-numerazione"
            [showCloseIcon]="true">
            <ng-template pTemplate>
              <p>Questo filtro può essere usato per cercare un fascicolo per numero oppure per numerazione gerarchica. Di seguito alcuni esempi</p>
              <ul>
                <li>Seleziona il livello Sottofascicolo e scrivi nella ricerca il numero del sottofascicolo desiderato</li>
                <li>Seleziona il livello Tutti e scrivi una numerazione gerarchica completa (es 23-1/2018) per trovare immediatamente il fascicolo desiderato</li>
                <li>Non ti ricordi l'esatta numerazione? Inserisci quello che ti ricordi a partire dal livello più importante, ad es. con 23- troverari tutti i sottofascioli/inserti figli del fascicolo 23</li>
              </ul>
              Ricorda: Non cercare qui immettendo solo l'anno, usa il filtro sull'anno di creazione o altri ancora per trovare più facilmente ciò che desideri.
            </ng-template>
          </p-overlayPanel>
        </span>
      </th>
    </tr>
    <!-------FILTRI -->
    <tr class="filter-row">
      <th *ngFor="let col of columns" [ngSwitch]="col.field" [ngClass]="col.filterClass">
        <div *ngSwitchCase="'idAzienda'" #filteraziendacontainer>
          <p-columnFilter #columnFilterAzienda [field]="col.filterField" matchMode="in" [showMenu]="false">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-dropdown #dropdownAzienda *ngIf="isAccessibile() !== true" [options]="aziendeFiltrabili"
                [ngModel]="value" (onChange)="filterAzienda(filter, $event.value, filteraziendacontainer)"
                optionValue="value" optionLabel="label" appendTo="body">
              </p-dropdown>
              <p-autoComplete *ngIf="isAccessibile() == true" [suggestions]="aziendeFiltrabiliFiltered"
                (completeMethod)="filterAziendaAccessibile($event)" (onClear)="filter(null)" field="label" type="search"
                appendTo="body" (onSelect)="filterAzienda(filter, $event.value, filteraziendacontainer)">
              </p-autoComplete>
            </ng-template>
          </p-columnFilter>
        </div>
        <div *ngSwitchCase="'dataCreazione'">
          <p-columnFilter #columnFilterDataCreazione
            [field]="col.filterField" 
            type="date" 
            matchMode="is"
            [showMenu]="false">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-calendar #calendarcreazione 
                inputId="calendarcreazione"
                [ngModel]="value"  
                [minDate]="dataMinimaCreazione"
                [maxDate]="dataMassimaCreazione"
                dataType="date" 
                dateFormat="yy" 
                [showIcon]="false"
                [showButtonBar]="false" 
                selectionMode="range" 
                view="year"   
                [readonlyInput]="true"                          
                (onClickOutside)="askConfirmAndHandleCalendarCreazioneEvent(calendarcreazione, 'onClickOutside', $event, filter)"
                appendTo="body">
                <ng-template pTemplate="footer" class="calendar-filter-footer-button">
                  <div class="calendar-filter-footer-button-container">
                    <p-button label="Conferma" (click)="askConfirmAndHandleCalendarCreazioneEvent(calendarcreazione, 'doFilter', $event, filter)"></p-button>
                    <!-- <p-button
                      (click)="askConfirmAndHandleCalendarCreazioneEvent(calendarcreazione, 'setToday', $event, filter)">
                      Oggi
                    </p-button> -->
                    <p-button label="Svuota" (click)="askConfirmAndHandleCalendarCreazioneEvent(calendarcreazione, 'clear', $event, filter)"></p-button>
                  </div>
                </ng-template>
              </p-calendar>
            </ng-template>
          </p-columnFilter>
        </div>
        <div *ngSwitchCase="'tipo'">
          <p-columnFilter [field]="col.filterField" matchMode="in" [showMenu]="false">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-multiSelect *ngIf="isAccessibile() !== true" [showHeader]="false" [ngModel]="value"
                [options]="tipoVisualizzazioneObj" optionValue="value" optionLabel="nome"
                (onChange)="filter($event.value)" appendTo="body">
                <ng-template let-option pTemplate="item">
                  <div class="p-multiselect-representative-option">
                    <span class="p-ml-1">{{option.nome}}</span>
                  </div>
                </ng-template>
              </p-multiSelect>
              <p-autoComplete *ngIf="isAccessibile() == true" [suggestions]="filteredTipo"
                (completeMethod)="filterTipo($event)" (onClear)="filter(null)" field="nome" type="search"
                appendTo="body" (onSelect)="filter($event.value)">
              </p-autoComplete>
            </ng-template>
          </p-columnFilter>
        </div>
        <div *ngSwitchCase="'stato'">
          <p-columnFilter [field]="col.filterField" matchMode="in" [showMenu]="false">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-multiSelect *ngIf="isAccessibile() !== true" [ngModel]="value" [showHeader]="false"
                [options]="statoVisualizzazioneObj" optionValue="value" optionLabel="nome"
                (onChange)="filter($event.value)" appendTo="body">
                <ng-template let-option pTemplate="item">
                  <div class="p-multiselect-representative-option">
                    <span class="p-ml-1">{{option.nome}}</span>
                  </div>
                </ng-template>
              </p-multiSelect>
              <p-autoComplete *ngIf="isAccessibile() == true" [suggestions]="filteredStati"
                (completeMethod)="filterStatoAccessibile($event)" (onClear)="filter(null)" field="nome" type="search"
                appendTo="body" (onSelect)="filter($event.value)">
              </p-autoComplete>
            </ng-template>
          </p-columnFilter>
        </div>
        <div *ngSwitchCase="'oggetto'" class="search-wrapper">
          <p-columnFilter #colfilteroggetto type="text" [field]="col.filterField" [matchMode]="col.filterMatchMode"
            [showMenu]="false">
            <ng-template pTemplate="filter" let-value let-filterMethod="filterCallback">
              <input #inputOggetto type="text" pInputText [value]="value"
                (keydown.enter)="removeSort(); filterMethod(inputOggetto.value)">
            </ng-template>
          </p-columnFilter>
          <button *ngIf="colfilteroggetto.hasFilter()" class="material-icons close-icon" type="reset"
            (click)="colfilteroggetto.clearFilter(); resetSort()">
            close
          </button>
        </div>
        <div *ngSwitchCase="'idPersonaResponsabile'" class="search-wrapper">
          <p-columnFilter #colfilteridPersonaResponsabile [field]="col.filterField" matchMode="equals"
            [showMenu]="false">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-autoComplete #autocompleteIdPersonaResponsabile [showEmptyMessage]="true"
                emptyMessage="Nessun utente trovato" [suggestions]="filteredPersone"
                (completeMethod)="filterPersone($event)" field="descrizioneVisualizzazione"
                (onSelect)="filter($event?.id)" (onClear)="filter(null)" type="search" appendTo="body">
              </p-autoComplete>
            </ng-template>
          </p-columnFilter>
          <button *ngIf="colfilteridPersonaResponsabile.hasFilter()" class="material-icons close-icon" type="reset"
            (click)="colfilteridPersonaResponsabile.clearFilter(); autocompleteIdPersonaResponsabile.writeValue(null)">
            close
          </button>
        </div>
        <div *ngSwitchCase="'idPersonaCreazione'" class="search-wrapper">
          <p-columnFilter #colfilteridPersonaCreazione [field]="col.filterField" matchMode="equals" [showMenu]="false">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-autoComplete #autocompleteIdPersonaCreazione [showEmptyMessage]="true"
                emptyMessage="Nessun utente trovato" [suggestions]="filteredPersone"
                (completeMethod)="filterPersone($event)" field="descrizioneVisualizzazione"
                (onSelect)="filter($event?.id)" (onClear)="filter(null)" type="search" appendTo="body">
              </p-autoComplete>
            </ng-template>
          </p-columnFilter>
          <button *ngIf="colfilteridPersonaCreazione.hasFilter()" class="material-icons close-icon" type="reset"
            (click)="colfilteridPersonaCreazione.clearFilter(); autocompleteIdPersonaCreazione.writeValue(null)">
            close
          </button>
        </div>
        <div *ngSwitchCase="'idStruttura'" class="search-wrapper">
          <p-columnFilter #colfilteridStruttura [field]="col.filterField" matchMode="equals" [showMenu]="false">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-autoComplete #autocompleteIdStruttura [showEmptyMessage]="true"
                emptyMessage="Nessuna struttura trovata" [suggestions]="filteredStrutture"
                (completeMethod)="filterStrutture($event)" field="descrizioneVisualizzazione"
                (onSelect)="filter($event?.id)" (onClear)="filter(null)" appendTo="body">
              </p-autoComplete>
            </ng-template>
          </p-columnFilter>
          <button *ngIf="colfilteridStruttura.hasFilter()" class="material-icons close-icon" type="reset"
            (click)="colfilteridStruttura.clearFilter(); autocompleteIdStruttura.writeValue(null)">
            close
          </button>
        </div>
        <div *ngSwitchCase="'numerazioneGerarchica'" class="search-wrapper">
          <span class="search-wrapper"
            [pTooltip]="archiviListMode === archiviListModeEnum.TUTTI || archivioPadre ? 'La selezione è disabilitata' : 'Seleziona livello'" 
            tooltipPosition="top"
            >
            <p-columnFilter #columnFilterLivello 
              field="livello" 
              matchMode="in" 
              class="column-filter-livello"
              [showMenu]="false">
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                <p-dropdown #dropdownLivello 
                  
                  [options]="livelliFiltrabili"
                  [(ngModel)]="livelloValue"
                  (onChange)="filter($event.value)"
                  [disabled]="(archiviListMode === archiviListModeEnum.TUTTI || archivioPadre)"
                  optionValue="value" 
                  optionLabel="label" 
                  panelStyleClass="dropdown-panel-livello"
                  appendTo="body">
                  <ng-template pTemplate="selectedItem">
                    <span class="material-icons folder_outline-icon"
                      [ngStyle]="{
                        'color': livelloValue.length > 1 ? 'white' : 
                          (livelloValue[0] === 1 ? '#92225f' : 
                            (livelloValue[0] === 2 ? '#f68b20' : '#edc211'))}">
                      folder
                    </span>
                  </ng-template>
                  <ng-template let-livello pTemplate="item">
                    <span class="material-icons folder_outline-icon"
                      [ngStyle]="{
                        'color': livello.value.length > 1 ? 'white' : 
                          (livello.value[0] === 1 ? '#92225f' : 
                            (livello.value[0] === 2 ? '#f68b20' : '#edc211'))}"
                      pTooltip="Fascicolo" 
                      tooltipPosition="top">
                      folder
                    </span>
                    {{livello.label}}
                  </ng-template>
                </p-dropdown>
              </ng-template>
            </p-columnFilter>
          </span>
          <div class="search-wrapper box-filtro-numerazione" >
            <!--NB: La columnfilter qui è fittizia, in realtà il filtro è assolutamente custom e gestito dal ts -->
            <p-columnFilter #colfilterNumerazioneGerarchica 
              [field]="fieldNumerazioneGerarchica" 
              [matchMode]="matchModeNumerazioneGerarchica"
              [showMenu]="false" 
              [useGrouping]="false">
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                <input #inputnumerazionegerarchica
                  [ngStyle]="{'background-color': !regexNumerazioneGerarchica.test(inputnumerazionegerarchica?.value) ? '#FFCDD2' : ''}"
                  pInputText 
                  [ngModel]="value"
                  type="text" 
                  placeholder="x-x-x/aaaa"
                  (keydown.enter)="onEnterNumerazioneGerarchica(inputnumerazionegerarchica?.value)" />
              </ng-template>
            </p-columnFilter>
            <button *ngIf="colfilterNumerazioneGerarchica.hasFilter()" class="material-icons close-icon" type="reset"
              (click)="colfilterNumerazioneGerarchica.clearFilter()">
              close
            </button>
          </div>
        </div>
        <div *ngSwitchCase="'idVicari'" class="search-wrapper">
          <p-columnFilter 
            #colfiltervicari 
            [field]="col.filterField" 
            matchMode="" 
            [showMenu]="false">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-autoComplete #autocompleteVicari 
                [showEmptyMessage]="true" 
                emptyMessage="Nessun utente trovato"
                [suggestions]="filteredPersone" 
                (completeMethod)="filterPersone($event)"
                field="descrizioneVisualizzazione" 
                (onSelect)="filter($event?.id)" 
                (onClear)="filter(null)"
                appendTo="body">
              </p-autoComplete>
            </ng-template>
          </p-columnFilter>
          <button *ngIf="colfiltervicari.hasFilter()" class="material-icons close-icon" type="reset"
            (click)="colfiltervicari.clearFilter(); autocompleteVicari.writeValue(null)">
            close
          </button>
        </div>
      </th>
    </tr>
  </ng-template>
  <!-- BODY -->
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr class="row-height">
      <td *ngFor="let col of columns" [ngSwitch]="col.field" [ngClass]="col.bodyClass" [frozen]="col.field === 'eliminazione'" alignFrozen="right">
        <div *ngSwitchCase="'idAzienda'">
          {{rowData.idAzienda.nome}}
        </div>
        <div *ngSwitchCase="'tipo'">
          {{rowData.tipoVisualizzazione}}
        </div>
        <div *ngSwitchCase="'numerazioneGerarchica'" class="numerazione-box"
          (click)="openArchive(rowData)">
          <div class="left-side">
            <span [ngStyle]="{
              'color': rowData.livello === 1 ? '#92225f' : 
                (rowData.livello === 2 ? '#f68b20' : '#edc211')}" 
              class="material-icons folder_outline-icon-fasc" 
              [pTooltip]="rowData.livello === 1 ? 'Fascicolo' : 
              (rowData.livello === 2 ? 'Sottofascicolo' : 'Inserto')" 
              tooltipPosition="top">
                folder
            </span>
            <i class="pi" 
              [pTooltip]="rowData.isArchivioNero ? 'Nessun permesso sull\'archivio' : 
              (rowData.stato === 'CHIUSO' || rowData.stato === 'PRECHIUSO' ? 'Archivio chiuso' :
               (rowData.tipo === 'SPECIALE' ? 'Archivio speciale' : ''))" 
               [ngClass]="rowData.isArchivioNero ? 'pi-ban' : 
               (rowData.stato === 'CHIUSO' || rowData.stato === 'PRECHIUSO' ? 'pi-lock' :
                (rowData.tipo === 'SPECIALE' ? 'pi-slack' : 'display-none'))" 

              tooltipPosition="top">
            </i>
          </div>
          <!-- <div *ngIf="rowData.isArchivioNero" class="box-livello-1">
            <span class="pi pi-eye-slash" pTooltip="Nessun permesso sul fascicolo" tooltipPosition="top">
            </span>
          </div>
          <div *ngIf="isArchivioSpeciale(rowData) && !rowData.isArchivioNero" class="box-livello-1">
            <span class="material-icons folder_outline-icon-speciale" pTooltip="Archivio speciale" tooltipPosition="top">
              folder
            </span>
          </div>
          <div *ngIf="isArchivioChiuso(rowData)
           && !rowData.isArchivioNero" class="box-livello-1">
            <span class="pi pi-lock" pTooltip="Archivio chiuso" tooltipPosition="top">
            </span>
          </div> 
          <div *ngIf="rowData.livello == 1 && !isArchivioSpeciale(rowData)" class="box-livello-1">
            <span class="material-icons folder_outline-icon-fasc" pTooltip="Fascicolo" tooltipPosition="top">
              folder
            </span>
          </div>
          <div *ngIf="rowData.livello == 2 && !isArchivioSpeciale(rowData)" class="box-livello-2">
            <span class="material-icons folder_outline-icon-sottofs" pTooltip="Sottofascicolo" tooltipPosition="top">
              folder
            </span>
          </div>
          <div *ngIf="rowData.livello == 3 && !isArchivioSpeciale(rowData)" class="box-livello-3">
            <span class="material-icons folder_outline-icon-inserto" pTooltip="Inserto" tooltipPosition="top">
              folder
            </span>
          </div> -->
          <div class="box-numerazione">
            {{rowData.numerazioneGerarchica}}
          </div> 
        </div>
        <div *ngSwitchCase="'dataCreazione'">
          {{rowData.dataCreazione | date:'dd/MM/yyyy'}}
        </div>
        <div *ngSwitchCase="'oggetto'" class="oggetto-content" [pTooltip]="rowData.oggetto" tooltipPosition="top"
          (click)="openArchive(rowData)">
          {{rowData.oggetto && rowData.oggetto !== "" ? rowData.oggetto : "[nome non assegnato]"}}
        </div>
        <div *ngSwitchCase="'stato'">
          {{rowData.statoVisualizzazione}}
        </div>
        <div *ngSwitchCase="'idPersonaResponsabile'">
          {{rowData.idPersonaResponsabileVisualizzazione}}
        </div>
        <div *ngSwitchCase="'idPersonaCreazione'">
          {{rowData.idPersonaCreazioneVisualizzazione}}
        </div>
        <div *ngSwitchCase="'idStruttura'" [pTooltip]="rowData.idStruttura?.nome" tooltipPosition="top">
          {{rowData.idStruttura?.nome}}
        </div>
        <div *ngSwitchCase="'idVicari'"
          [pTooltip]="rowData.descrizionePersonaVicarioList != '' ? tooltipsVicari(rowData.descrizionePersonaVicarioList) : 'Nessun vicario selezionato'"
          [escape] = "false"
          tooltipPosition="top">
          <span *ngFor="let v of rowData.descrizionePersonaVicarioList" class="vicari-item">
            {{v}} 
          </span>
        </div>
        <div *ngSwitchCase="'eliminazione'">
            <i *ngIf="rowData.livello != 1 && loggedUserCanDeleteArchivio" class="pi pi-times" style="font-size: 22px;"
              [pTooltip]="rowData.livello == 2 ? 'Elimina sottofascicolo' : 'Elimina inserto'" (click)="eliminaSottoarchivio(rowData, $event)"></i> <!--disabled="isLoggedUserResponsabileOrVicario(rowData)""-->     
        </div>
      </td>
      
    </tr>
  </ng-template>
  <ng-template pTemplate="loadingbody" let-columns="columns">
    <tr class="row-height">
      <td *ngFor="let col of columns" [ngClass]="col.bodyClass" class="loading-cell">
        <div class="loading-text"></div>
      </td>
    </tr>
  </ng-template>
  <!-- No Records-->
  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
      <td [attr.colspan]="columns.length" class="emptyMessage" >
          <h3>Nessun fascicolo trovato</h3>
      </td>
  </tr>
</ng-template>
</p-table>
<p-toast key="archiviListToast"></p-toast>
<p-confirmPopup key="confirm-popup"></p-confirmPopup>
