:host{
  height: 100%;
  width: 100%;
}
::ng-deep .p-table-scripta-archivi-list {
  .archiviolist-table-body {
    //overflow: initial !important;
    /* HEADER */
    .header-row {
      height: 41px;
      .header-column {
        padding: 2px 13px;
        .header-box {
          display: flex;
          justify-content: space-between;
          width: 100%;
        }
      }
      .info-numerazione-gerarchica {
        cursor: pointer;
        color:#203244;
        &:hover {
          color: #936;
        }
      }
    }
    /* FILTER */
    .filter-row {
      @media screen and (max-width: 1280px) {
        font-size: 11pt;
      }
      .filter-column {
        padding: 1px;
        border: transparent;
        div:first-child {
          width: 100%;
        }
        .p-inputnumber-buttons-stacked .p-inputnumber-input {
          border-radius: 3px;
        }
        .p-inputnumber-button-group {
          display: none;
        }
        .p-dropdown-label, 
        .p-multiselect-label,
        p-calendar .p-inputtext {
          font-size: 12px;
          text-align: center;
          color: #2e4a65 !important;
          font-weight: bold;
        }
        .p-inputtext {
          font-size: 12px;
          color: #2e4a65 !important;
          font-weight: bold;
        }
        .p-column-filter-clear-button {
          display: none !important;
        }
      } 
    }
    .search-wrapper {
      display: flex;
      background-color: white;
      border: 1px solid #a6a6a6;
      border-radius: 3px;
      &.box-filtro-numerazione {
        width: 100%;
      }
      .search-wrapper {
        border: none;
      }
      p-columnfilter {
        width: 100%;
        .p-inputtext {
          color: #2e4a65 !important;
          font-weight: bold;
          border: none !important;
        }
        &.column-filter-livello {
          .p-dropdown {
            border-left: none;
            border-top-color: transparent;
            border-bottom: none;
            width: fit-content;
            .p-dropdown-label {
              padding: 0;
              max-width: 27px;
            }
          }
        }
      }
      .close-icon {
        align-self: center;
        font-size: 15px;
        border: 1px solid transparent;
        background-color: white;
        display: inline-block;
        vertical-align: middle;
        outline: 0;
        cursor: pointer;
      }
    }

    /* BODY */
    .p-datatable-tbody > tr > td {
      padding: 0;
      div {
        height: 54px;
        padding: 9px 13px;
        width: 100%;
      }
      &:not(.scrollable-column) {
        div {
          display: flex;
          align-items: center;
        }
      }
      &.scrollable-column {
        div {
          overflow: hidden;
          word-wrap: break-word;
          word-break: break-word;
          &:hover {
            overflow-y: auto !important; //needed for firefox
            overflow-y: scroll;
            overflow-y: overlay;
          }
        }
      }
      &.data-creazione-column {
        div {
          justify-content: center;
        }
      } 
    }

    /*Empty Message*/
    .emptyMessage{
      border: 0px;
      justify-content: center;
    }

    
  }

  .cdk-virtual-scroll-viewport {
    overflow: scroll !important; // Questo lo prende firefox
    overflow: overlay !important; // Questo lo prende chrome
  }

    /* HEADER, FILTER E BODY */
  .row-height {
    height: 53px;
    max-height: 53px;
  }
  .data-creazione-column {
    min-width: 193px;
    max-width: 193px;
  }
  .ente-column {
    min-width: 103px;
    max-width: 103px;
  }
  .tipo-column {
    min-width: 171px;
    max-width: 171px;
  }
  .numerazione-gerarchica-column {
    min-width: 244px;
    max-width: 244px;
    cursor: pointer;
    .numerazione-box {
      padding: 0px !important;
      .left-side {
        min-width: 30px;
        max-width: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 2px !important;
        border-right: 1px solid #e7e7e7d2  !important;
        .display-none {
          display: none;
        }
      }
      .box-numerazione {
        padding: 9px 13px;
        font-weight: 600;
        color: #993366;
      }
    }
  }
  .responsabile-column {
    min-width: 180px;
    max-width: 180px;
  }
  .creatore-column {
    min-width: 180px;
    max-width: 180px;
  }
  .oggetto-column {
    width: 100%;
    min-width: 350px;
    font-weight: 600;
    color: #993366;
    cursor: pointer;
  }
  .struttura-column {
    min-width: 250px;
    max-width: 250px;
  }
  .vicari-column {
    min-width: 160px;
    max-width: 160px;
    .vicari-item {
      display: inline-block;
      padding: 3px 5px;
      margin-bottom: 2px;
      border: 1px solid #203244;
      font-size: 13px;
      border-radius: 3px;
      word-break: break-word;
      &:hover {
        border: 1px solid #936;
      }
    }
  }
  .stato-column {
    min-width: 100px;
    max-width: 100px;
  }  
}

::ng-deep .table-zero-rows {
  .p-datatable-scrollable-header {
    overflow-x: scroll !important;
    overflow-y: hidden !important;
    padding-bottom: 20px;
  }
}

::ng-deep {
  .dropdown-panel-livello .p-dropdown-item {
    align-items: center;
    display: flex;
    .folder_outline-icon {
      font-size: 18px;
      margin-right: 4px;
    }
  }
}
::ng-deep {
  .overlaypanel-info-numerazione {
    width: 500px;
  }
}
  
/* EFFETTO CARICAMENTO RIGHE */
.loading-cell {
  padding: 0.571rem 0.857rem !important;
  .loading-text {
    display: block;
    background-color: #f1f1f1;
    min-height: 19px;
    animation: pulse 1s infinite ease-in-out;
    text-indent: -99999px;
    overflow: hidden;
  }
}

/*Calendar*/
::ng-deep .calendar-filter-footer-button-container {
  display: flex;
  justify-content: space-around;
  .p-button{
    width: 110px !important;
    justify-content: center;
  }
}

::ng-deep .p-datepicker{
  width: 420px !important;
  .p-highlight {
    color: #ffffff;
    background: #2e4a65 !important;
  }
}