:host {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
<<<<<<< HEAD
=======


>>>>>>> 9f6910a1f627f70b1875c953f0e30bd118b94224
.content {
    flex: 1 1 0;
}