::ng-deep .tabella-permessi-persona-archivio {
  .persona-column {
    min-width: 18.75rem;
    width: 18.75rem;
    max-width: 18.75rem;
  }
  .struttura-column {
    // min-width: 9.375rem;
    // max-width: 37.5rem;
    width: 100%;
    p-celleditor {
      width: 100%;
    }
  }
  .ereditato-column {
    min-width: 8.125rem;
    width: 8.125rem;
    max-width: 8.125rem;
    justify-content: center;
  }
  .propaga-column {
    min-width: 7rem;
    width: 7rem;
    max-width: 7rem;
    justify-content: center;
  }
  .permesso-column {
    min-width: 9.375rem;
    width: 9.375rem;
    max-width: 9.375rem;
    justify-content: center;
  }
  .barrato{
    text-decoration: line-through;
  }
  .azione-column {
    min-width: 7rem;
    width: 7rem;
    max-width: 7rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    padding: 0 !important;
    .p-button-rounded {
      background-color: transparent !important;
      border: none !important;
      color: #203244 !important;
      &:hover {
        border-color: #2e4a65 !important;
        background-color: #406284 !important;
        color: #ffffff !important;
        font-weight: normal !important;
      }
      &.p-button-danger {
        color: #e91224 !important;
      }
      &.p-button-success {
        color: #34A835 !important;
      }
      &.p-button-danger:hover, &.p-button-success:hover {
        border:1px solid #2e4a65 !important;
        background-color:transparent !important;
      }
      .p-button-icon {
        font-size: 1.2rem;
      } 
    }
  }
}
