:host{
  height: 100%;
}
::ng-deep .p-table-scripta-archivi-list {
    /* CAPTION */
    .caption-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .p-button {
        color: white;
      }
      .tabs {
        margin-left: 0.5vw;
        align-self: center;
        .p-selectbutton {
          flex-wrap: nowrap;
          .p-button {
            border: 1px solid #9da3a9 !important;;
            color: #333333;
            background-color: #f4f4f4 !important;
            &:hover {
              color: #333333;
              background-color: #993366 !important;
              border-color: #993366 !important;
            }
          }
          .p-highlight {
            color: white;
            background-color: #203244 !important;
          }
        }
      }
  
      .left-content {
        height: 33px;
        .p-progress-spinner {
          height: 21px !important;
          width: 21px !important;
          vertical-align: sub;
        }
        .p-inputtext {
          align-self: center;
          height: 33.72px;
        }
        .refresh-button {
          margin-left: 1px;
        }
        .alarm-button {
          background-color: orange !important;
          margin-left: 4px;
          border: 1px solid darkorange !important;
          color: black;
        }
        @media screen and (max-width: 1280px) {
          font-size: 10pt;
          .p-inputtext {
            align-self: center;
            height: 33.72px;
            font-size: 10pt;
            //background-color: #993366;
          }
          .p-buttonselect {
            font-size: 10pt;
            .p-selectbutton {
              display: flex;
              font-size: small;
              flex-wrap: nowrap;
              align-self: center;
              font-size: 10pt;
            }
          }
        }
      }
      .right-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .p-field-checkbox {
          margin-bottom: 0 !important;
        }
        .p-button{
          &:hover {
            background-color: #7e7e7e !important;
            border-color: #aeaaac !important;
          }
          &:target{
            outline: none !important;
          }
        }
        
      }
    }
    .p-datatable-scrollable-header {
      overflow: initial !important;
      /* HEADER */
      .header-row {
        height: 41px;
        .header-column {
          padding: 2px 13px;
          .header-box {
            display: flex;
            justify-content: space-between;
          }
        }
      }
        
      }
  
      .search-wrapper {
        display: flex;
        background-color: white;
        border: 1px solid #a6a6a6;
        border-radius: 3px;
        p-columnfilter {
          width: 100%;
          .p-inputtext {
            border: none !important;
          }
        }
        
        .close-icon {
          align-self: center;
          font-size: 15px;
          border: 1px solid transparent;
          background-color: white;
          display: inline-block;
          vertical-align: middle;
          outline: 0;
          cursor: pointer;
        }
      }
    
  
    
  
    /* BODY */
    .archiviolist-table-body {
      table-layout: unset;
      .p-datatable-tbody > tr > td {
        padding: 0;
        div {
          height: 54px;
          padding: 9px 13px;
        }
        &:not(.scrollable-column) {
          div {
            display: flex;
            align-items: center;
          }
        }
        &.scrollable-column {
          div {
            overflow: hidden;
            word-wrap: break-word;
            word-break: break-word;
            &:hover {
              overflow-y: scroll;
              overflow-y: overlay;
            }
          }
        } 
      }
    }

  .row-height {
    height: 53px;
    max-height: 53px;
  }
  .data-creazione-column {
    min-width: 193px !important;
    max-width: 193px !important;
  }
  .ente-column {
    min-width: 90px !important;
    max-width: 90px !important;
  }
  .tipo-column {
    min-width: 171px;
    max-width: 171px;
  }
  .numerazione-gerarchica-column{
    min-width: 180px;
    max-width: 180px;
    .numerazione-box{
      padding: 0 !important;
      .box-livello-1{
        border-right: 1px solid #c8c8c8 !important;
        border-radius: 0 5px 5px 0 !important;
        padding: 2px !important;
        background-color: orange !important;
        .folder_outline-icon {
            color: #333333 !important;
        }
      }
      .box-livello-2{
        border-right: 1px solid #c8c8c8 !important;
        border-radius: 0 5px 5px 0 !important;
        padding: 2px !important;
        background-color: #fcf9bf  !important;
        .folder_outline-icon {
          color: #333333 !important;
        }
      }
      .box-livello-3{
        border-right: 1px solid #c8c8c8 !important;
        border-radius: 0 5px 5px 0 !important;
        padding: 2px !important;
        background-color: white  !important;
        .folder_outline-icon {
          color: #333333 !important;
        }
      }
      .box-numerazione {
        padding: 9px 13px;
      }
    }
  }
  .responsabile-column {
    min-width: 180px;
    max-width: 180px;
  }
  .creatore-column {
    min-width: 180px;
    max-width: 180px;
  }
  .oggetto-column{
    min-width: 350px;
    max-width: 350px;
    font-weight: 600;
    color: #993366;
  }
  .struttura-column{
    min-width: 180px;
    max-width: 180px;
  }
  .vicari-column {
    min-width: 180px;
    max-width: 180px;
    .vicari-item {
      display: inline-block;
      padding: 3px 5px;
      margin-bottom: 2px;
      border: 1px solid #203244;
      font-size: 13px;
      border-radius: 3px;
      word-break: break-word;
      &:hover {
        border: 1px solid #936;
      }
    }
  }
  .stato-column {
    min-width: 100px;
    max-width: 100px;
  }
  
    .cdk-virtual-scroll-viewport {
      overflow: scroll !important; // Questo lo prende firefox
      overflow: overlay !important; // Questo lo prende chrome
    }
}
    
  
  
  @supports (-webkit-appearance:none) and (not (overflow:-webkit-marquee))
  and (not (-ms-ime-align:auto)) and (not (-moz-appearance:none)) {
    .scrollbar-overlay-placeholder-column { 
      padding: 5px !important;
      border: none !important;
    } 
  }
  
  /* EFFETTO CARICAMENTO RIGHE */
  .loading-cell {
    padding: 0.571rem 0.857rem !important;
    .loading-text {
      display: block;
      background-color: #f1f1f1;
      min-height: 19px;
      animation: pulse 1s infinite ease-in-out;
      text-indent: -99999px;
      overflow: hidden;
    }
  }