<p-table #dt 
  ariaLabel="Tabella elenco archivi" 
  styleClass="p-table-scripta-archivi-list"
  dataKey="id" 
  [columns]="selectedColumns"
  [value]="archivi"
  [reorderableColumns]="true"
  (onColReorder)="onColReorder($event)"
  [rows]="rowsNumber"
  scrollHeight="100%" 
  [scrollable]="true" 
  [virtualScroll]="true" 
  [virtualScrollDelay]="150"
  [virtualRowHeight]="54" 
  (onLazyLoad)="onLazyLoad($event)" 
  [lazy]="true" 
  [lazyLoadOnInit]="false" 
  [totalRecords]="totalRecords"
  [ngClass]="{'table-zero-rows': totalRecords === 0}"
  tableStyleClass="archiviolist-table-body"
  >
  <ng-template pTemplate="caption">
    <div class="caption-row">
      <div class="left-content">
        <div class="p-d-flex">
          <span class="p-input-icon-left p-ml-auto">
            <i class="pi pi-search"></i>
            <input #inputGobalFilter pInputText 
              type="text" 
              placeholder="Ricerca.. " />
          </span>
          <button pButton 
            class="p-button-outlined refresh-button" 
            icon="pi pi-filter" 
            pTooltip="Applica i filtri. Aggiorna"
            tooltipPosition="bottom"
            aria-label="Applica i filtri" 
            >
          </button>
          <button pButton 
            class="p-button-outlined alarm-button" 
            icon="pi pi-filter-slash" 
            pTooltip="Svuota i filtri"
            tooltipPosition="bottom"
            aria-label="Svuota i filtri"
            >
          </button>
          <p-selectButton class="tabs"
            [options]="archiviListModeItem" 
            [(ngModel)]="selectedArchiviListMode" 
            optionLabel="label"
            (onOptionClick)="onChangeArchiviListMode($event)">
          </p-selectButton>
        </div>
      </div>
      <div class="right-content">
        <span *ngIf="exportCsvInProgress">
          <p-progressSpinner 
            [style]="{width: '2em', height: '2em', marginRight: '7px'}"
            strokeWidth="8" 
            fill="#FFFFFF" 
            animationDuration=".5s">
          </p-progressSpinner>
        </span>
        <button 
          type="button" 
          pButton 
          pRipple 
          icon="pi pi-file-o" 
          (click)="exportCSV(dt)" 
          class="p-mr-2" 
          aria-label="Scarica il csv della tabella"
          pTooltip="CSV"
          tooltipPosition="bottom">
        </button>
        <p-multiSelect 
          *ngIf = "isAccessibile() !== true"
          [options]="selectableColumns" 
          [(ngModel)]="selectedColumns" 
          (onChange)="onChangeMultiSelectedColumns($event)"
          optionLabel="header" 
          optionDisabled="selectionDisabled"
          [showHeader]="false"
          selectedItemsLabel="{0} colonne selezionate"
          [style]="{minWidth: '250px', maxWidth: '250px'}" 
          placeholder="Scegli le colonne da visualizzare"
          aria-label="Scegli le colonne da visualizzare">
        </p-multiSelect>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="colgroup" let-columns>
    <colgroup>
      <col *ngFor="let col of columns" [ngClass]="col.headerClass">
    </colgroup>
  </ng-template>
  <!-- HEADER & ORDINAMENTO ---->
  <ng-template pTemplate="header" let-columns>
    <tr class="header-row"> 
      <th *ngFor="let col of columns" pReorderableColumn
        [ngSwitch]="col.field" 
        [ngClass]="col.headerClass"
        [pSortableColumn]="col.sortField">
        <span class="header-box" [pTooltip]="col.sortField ? null : 'Colonna non ordinabile'" [attr.aria-label]="col.label">
          {{col.header}}
          <p-sortIcon *ngIf="col.sortField" 
            [field]="col.sortField">
          </p-sortIcon>
        </span>
      </th>
    </tr>
  </ng-template>
  <!-------FILTRI -->
    <ng-template>
    <tr class="filter-row">
        <th *ngFor="let col of columns" [ngSwitch]="col.field" [ngClass]="col.filterClass">
        <div *ngSwitchCase="'idAzienda'" #filteraziendacontainer>
            <p-columnFilter #columnFilterAzienda [field]="col.filterField" matchMode="in" [showMenu]="false">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                <p-dropdown #dropdownAzienda
                [options]="aziendeFiltrabili" 
                [ngModel]="value" 
                (onChange)="filterAzienda(filter, $event.value, filteraziendacontainer)" 
                optionValue="value"
                optionLabel="label"
                appendTo="body">
                </p-dropdown>
            </ng-template>
            </p-columnFilter>
        </div>
        <div *ngSwitchCase="'dataCreazione'">
            <p-columnFilter #columnFilterDataCreazione
            [field]="col.filterField" 
            type="date" matchMode="is" 
            [showMenu]="false">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                <p-calendar #calendarcreazione 
                inputId="calendarcreazione" 
                [ngModel]="value" 
                [yearNavigator]="true" 
                [monthNavigator]="true"
                yearRange="2000:2030"
                [minDate]="dataMinimaCreazione"
                [maxDate]="dataMassimaCreazione"
                dataType="date" 
                dateFormat="dd/mm/yy"
                [showIcon]="false"
                [showButtonBar]="false"
                selectionMode="range"
                [readonlyInput]="true"
                (onClickOutside)="HandleCalendarCreazioneEvent(calendarcreazione, 'onClickOutside', $event, filter)"
                appendTo="body">
                <ng-template pTemplate="footer" class="calendar-filter-footer-button">
                    <div class="calendar-filter-footer-button-container">
                    <p-button (click)="HandleCalendarCreazioneEvent(calendarcreazione, 'doFilter', $event, filter)">Conferma
                    </p-button>
                    <p-button (click)="handleCalendarButtonEvent(calendarcreazione, 'setToday', $event, filter)">Oggi
                    </p-button>
                    <p-button (click)="HandleCalendarCreazioneEvent(calendarcreazione, 'clear', $event, filter)">Svuota
                    </p-button>
                    </div>
                </ng-template>
                </p-calendar>
            </ng-template>
            </p-columnFilter>
        </div>
        </th>
    </tr>
    </ng-template>
  <!-- BODY -->
  <ng-template pTemplate="body" let-rowData let-columns="columns">   
    <tr class="row-height">
      <td *ngFor="let col of columns" [ngSwitch]="col.field" [ngClass]="col.bodyClass">
        <div *ngSwitchCase="'idAzienda'">
          {{rowData.idAzienda.nome}}
        </div>
        <div *ngSwitchCase="'tipo'">
          {{rowData.tipoVisualizzazione}}
        </div>
        <div *ngSwitchCase="'numerazioneGerarchica'" class="numerazione-box">
            <div *ngIf="rowData.livello == 1"
                class="box-livello-1" 
                >
                <span class="material-icons folder_outline-icon" pTooltip="Fascicolo"
                tooltipPosition="top" >
                folder
                </span>
            </div>
            <div *ngIf="rowData.livello == 2"
                class="box-livello-2" 
                >
                <span class="material-icons folder_outline-icon" pTooltip="Sottofascicolo"
                tooltipPosition="top" >
                folder
                </span>
            </div>
            <div *ngIf="rowData.livello == 3"
                class="box-livello-3" 
                >
                <span class="material-icons folder_outline-icon" pTooltip="Inserto"
                tooltipPosition="top">
                folder
                </span>
            </div>
            <div class="box-numerazione">
                {{rowData.numerazioneGerarchica}}
            </div>
        </div>
        <div *ngSwitchCase="'dataCreazione'">
          {{rowData.dataCreazione | date:'dd/MM/yyyy'}}
        </div>
        <div *ngSwitchCase="'oggetto'" 
          class="oggetto-content"
          [pTooltip]="rowData.oggetto" 
          tooltipPosition="top"
          (click)="openArchive(rowData)">
          {{rowData.oggetto}}
        </div>
        <div *ngSwitchCase="'stato'">
          {{rowData.statoVisualizzazione}}
        </div>
        <div *ngSwitchCase="'idPersonaResponsabile'">
          {{rowData.idPersonaResponsabileVisualizzazione}}
        </div>
        <div *ngSwitchCase="'idPersonaCreazione'">
          {{rowData.idPersonaCreazioneVisualizzazione}}
        </div>
        <div *ngSwitchCase="'idStruttura'" [pTooltip]="rowData.idStruttura?.nome"
          tooltipPosition="top">
          {{rowData.idStruttura?.nome}}
        </div>
        <div *ngSwitchCase="'vicari'" [pTooltip]="rowData.vicariVisualizzazione" tooltipPosition="top">
          <span *ngFor="let v of rowData.vicari" class="vicari-item">
            {{v.descrizione}}
          </span>
        </div>
      </td>
      <td class="scrollbar-overlay-placeholder-column"></td>
    </tr>
  </ng-template>
  <ng-template pTemplate="loadingbody" let-columns="columns">
    <tr class="row-height">
      <td *ngFor="let col of columns" [ngClass]="col.bodyClass" class="loading-cell">
        <div class="loading-text"></div>
      </td>
    </tr>
  </ng-template>
</p-table>
<p-toast key="archiviListToast"></p-toast>
