<p-tabView #tabview
  styleClass="navigation-tabview" 
  [(activeIndex)]="navigationTabsService.activeTabIndex"
  (onClose)="onCloseTab($event)"
  (onChange)="onChangeTab(navigationTabsService.activeTabIndex)"
  [scrollable]="true">
  <p-tabPanel *ngFor="let item of tabItems" [closable]="item.closable">
    <ng-template pTemplate = "header">
      <span ><!-- (mouseup)="$event.which === 2 ? clickOnTab($event, item) : null" -->
        <i [ngClass]="item.icon"></i>
        <span [innerHTML]="item.label"></span>
      </span>
    </ng-template>
    <ng-template pTemplate="content">
      <tab-wrapper [item]="item" [id]="item.data?.id"></tab-wrapper>
    </ng-template>
  </p-tabPanel>
</p-tabView>