<p-tabView 
  styleClass="navigation-tabview" 
  [(activeIndex)]="navigationTabsService.activeTabIndex"
  (onClose)="onCloseTab($event)"
  (onChange)="onChangeTab(navigationTabsService.activeTabIndex)">
  <p-tabPanel *ngFor="let item of tabItems" [closable]="item.closable">
    <ng-template pTemplate = "header">
      <i [ngClass]="item.icon"></i>
      <span>{{item.label}}</span>
    </ng-template>
    <ng-template pTemplate="content">
      <tab-wrapper [item]="item" [id]="item.data?.id"></tab-wrapper>
    </ng-template>
  </p-tabPanel>
</p-tabView>