/* :host {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    
} */

::ng-deep .coinvolti-table {
  //flex: 1 1 0;
  .row {
    border: 1px solid #c8c8c8;
    td, th {
      border: none !important;
    }
    .column-icon {
      width: 3.75rem;
      i {
        vertical-align: middle;
      }
    }
  }
}
.input,.close-icon,.box {
	position: relative;
}
.box{
  width: 100%;
  display:flex;
  .input{
    width: 100%;
  }
  .close-icon {
    align-self: center;
    font-size: 0.938rem;
    border:1px solid transparent;
    background-color: #fff;
    display: inline-block;
    outline: 0;
    cursor: pointer;
    display: block;
    width: 0.938rem;
    height: 0.938rem;
    position: absolute;
    z-index:1;
    right: 1.25rem;
    top: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    color: #203142;
  }
}
.competente-box{
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}