@import '../node_modules/primeng-lts/resources/themes/nova/theme.css'; 
@import '../node_modules/primeng-lts/resources/primeng.min.css';
@import '../node_modules/primeicons/primeicons.css';
@import '../node_modules/primeflex/primeflex.css';
@import '../node_modules/@bds/common-components/assets/bds-styles/primeng.scss';
@import '../node_modules/@bds/common-components/assets/bds-styles/material-icons.scss';

html,
body{
    height: 100%;
    margin: 0;
    overflow: hidden;
}
* {
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
}


.custom-primary-button {
    border: 1px solid #203244 !important;
    background: #2e4a65 !important;
}
.custom-primary-button:hover {
    border-color: #2e4a65 !important;
    background: #406284 !important;
    color: #ffffff !important;
    font-weight: normal !important;
}