:host {
  height: 100%;
  width: 100%;
}
::ng-deep .p-table-scripta-docs-list {
  .docslist-table-body {
    //overflow: initial !important;
    background-color: #AFC1DE !important;
    
    /* HEADER */
    .header-row {
      height: 2.563rem;
      .header-column {
        padding: 2px 0.813rem;
        .header-box {
          display: flex;
          justify-content: space-between;
        }
        &.p-highlight {
          background-color: #2e4a65 !important;
        }
      }
    }
    /* FILTER */
    .filter-row {
      .filter-column {
        padding: 1px;
        border: transparent;
        div:first-child {
          width: 100%;
        }
        .p-inputnumber-buttons-stacked .p-inputnumber-input {
          border-radius: 3px;
        }
        .p-inputnumber-button-group {
          display: none;
        }
        .p-dropdown-label, 
        .p-multiselect-label,
        p-calendar .p-inputtext {
          font-size: 0.75rem;
          text-align: center;          
          color: #936 !important;
          font-weight: bold;
        }
        .p-inputtext {
          font-size: 0.75rem;                  
          color: #936 !important;
          font-weight: bold;
        }
        .p-column-filter-clear-button {
          display: none !important;
        }
      }
    }
    .search-wrapper {
      display: flex;
      background-color: white;
      border: 1px solid #a6a6a6;
      border-radius: 3px;
      width: 100%;
      p-columnfilter {
        width: 100%;
        .p-inputtext {
          border: none !important;          
        }
      }
      .close-icon {
        align-self: center;
        font-size: 0.938rem;
        border: 1px solid transparent;
        background-color: white;
        display: inline-block;
        vertical-align: middle;
        outline: 0;
        cursor: pointer;
      }
    }

    /* BODY */
    .p-datatable-tbody > tr > td {
      border-color:#AFC1DE;
      padding: 0;
      div {
        color: #2e4a65;
        height: 3.375rem;
        padding: 9px 0.813rem;
        width: 100%; 
        &:hover {
          color: #7e7e7e !important;
        }
      }
      &:not(.scrollable-column) {
        div {
          display: flex;
          align-items: center;
        }
      }
      &.scrollable-column {
        div {
          overflow: hidden; 
          word-wrap: break-word;
          word-break: break-word;
          &:hover {
            overflow-y: auto !important; //needed for firefox
            overflow-y: scroll;
            overflow-y: overlay;
          }
        }
      } 
      &.data-creazione-column,
      &.data-registrazione-column,
      &.data-ultimo-versamento-column,
      &.stato-ultimo-versamento-column {
        div {
          justify-content: center;
        }
      }
    }

    /*Empty Message*/
    .emptyMessage{
      border: 0px;
      justify-content: center;
    }
        
  }

  .cdk-virtual-scroll-viewport {
    overflow: scroll !important; // Questo lo prende firefox
    overflow: overlay !important; // Questo lo prende chrome
  }

  /* HEADER, FILTER E BODY */
  .row-height {
    height: 3.313rem;
    max-height: 3.313rem;
  }
  .ente-column {
    min-width: 6.438rem;
    max-width: 6.438rem;
  }
  .tipologia-column {
    min-width: 10.688rem;
    max-width: 10.688rem;
  }
  .registrazione-column {
    min-width: 11.25rem;
    max-width: 11.25rem;
  }
  .proposta-column {
    min-width: 8.75rem;
    max-width: 8.75rem;
    .proposta-box {
      padding: 0 !important;
      .box-elimina {
        min-width: 1.875rem;
        max-width: 1.875rem;
        background-color: #406284;
        border-right: 1px solid #c8c8c8;
        border-radius: 0 5px 5px 0;
        padding: 2px;
        cursor: pointer;
        &:hover {
          background-color: darkorange;
        }
        .delete_outline-icon {
          color: white;
        }
      }
      .box-numero-proposta {
  
        padding: 9px 0.813rem;
      }
    }
  }
  .data-creazione-column,
  .data-registrazione-column,
  .data-pubblicazione-column,
  .data-ultimo-versamento-column {
    min-width: 10.313rem;
    max-width: 10.313rem;
  }
  .stato-column {
    min-width: 10.313rem;
    max-width: 10.313rem;
  }
  .oggetto-column {
    width: 100%;
    min-width: 21.875rem;
    cursor: pointer;
    font-weight: 600;
    color: #993366;
    .oggetto-content { 
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      i {
        font-size: 1.75rem;
        margin-right: 7px;
      }
    }
  }
  .fascicolazioni-column {
    min-width: 14.375rem;
    max-width: 14.375rem;
    .fascicolazione-item {
      display: inline-block;
      padding: 3px 5px;
      margin-bottom: 2px;
      cursor: pointer;
      border: 1px solid #203244;
      font-size: 0.813rem;
      border-radius: 3px;
      word-break: break-word;
      &:hover {
        border: 1px solid #936;
      }
    }
  }
  .stato-ufficio-atti-column {
    min-width: 11.5rem;
    max-width: 11.5rem;
  }
  .responsabile-column {
    min-width: 12.75rem;
    max-width: 12.75rem;
  }
  .redattore-column {
    min-width: 12.75rem;
    max-width: 12.75rem;
  }
  .adottato-da-column {
    min-width: 12.75rem;
    max-width: 12.75rem;
  }
  .mittente-column {
    min-width: 12.75rem;
    max-width: 12.75rem;
  }
  .destinatari-column {
    min-width: 14.375rem;
    max-width: 14.375rem;
    .destinatari-item {
      display: inline-block;
      padding: 3px 5px;
      margin-bottom: 2px;
      border: 1px solid #203244;
      font-size: 0.813rem;
      border-radius: 3px;
      word-break: break-word;
      &:hover {
        border: 1px solid #936;
      }
    }
  }
  .firmatari-column {
    min-width: 14.375rem;
    max-width: 14.375rem;
    .firmatari-item {
      display: inline-block;
      padding: 3px 5px;
      margin-bottom: 2px;
      border: 1px solid #203244;
      font-size: 0.813rem;
      border-radius: 3px;
      word-break: break-word;
      &:hover {
        border: 1px solid #936;
      }
    }
  }
  .sulla-scrivania-di-column {
    min-width: 14.375rem;
    max-width: 14.375rem;
    .sulla-scrivania-di-item {
      display: inline-block;
      padding: 3px 5px;
      margin-bottom: 2px;
      border: 1px solid #203244;
      font-size: 0.813rem;
      border-radius: 3px;
      word-break: break-word;
      &:hover {
        border: 1px solid #936;
      }
    }
  }
  .protocollo-esterno-column {
    min-width: 14.375rem;
    max-width: 14.375rem;
  }
  .edit-archiviation-column, .open-detail-and-preview-column {
    width: 3.125rem;
    max-width: 3.125rem;
    justify-content: center;
    padding-right:0.625rem !important;
    i {
      cursor: pointer;
      font-size: 1.375rem;
      &:hover {
        color: #936;
      }
    }
  }
  .stato-ultimo-versamento-column {
    width: 12.5rem;
    max-width: 12.5rem;
  }
  .logically-deleted {
    text-decoration: line-through;
    text-decoration-color: red;
    &:hover {
      text-decoration-color: #7e7e7e;
    }
    color:  red !important;
  }
}
::ng-deep .table-zero-rows {
  .p-datatable-scrollable-header {
    overflow: scroll !important;
  }
}
:host ::ng-deep .p-datatable {
    .p-datatable-thead > tr > th {
      background: #AFC1DE !important; 
  }
}
/* EFFETTO CARICAMENTO RIGHE */
.loading-cell {
  padding: 0.571rem 0.857rem !important;
  .loading-text {
    display: block;
    background-color: #f1f1f1;
    min-height: 1.125rem;
    animation: pulse 1s infinite ease-in-out;
    text-indent: -99999px;
    overflow: hidden;
  }
}
.calendar-filter-footer-button-container {
  display: flex;
  justify-content: space-around;

}
::ng-deep .stato-ultimo-versamento-icon {
  .p-checkbox {
    cursor: pointer;
    .p-checkbox-box.p-highlight {
      background-color: white !important;
      color: #203244;
      height: 1.875rem !important;
      width: 1.875rem !important;
    }
    .p-checkbox-box {
      height: 1rem !important;
      .p-checkbox-icon {
        color: #203244;
      }
    }
  }
}